{% extends "base.html" %}

{% comment %}
context variables:
    next
{% endcomment %}

{% block title %}upTee - Map deleted{% endblock title %}

{% block content %}

<!-- Sorry, I don't like it either. -->
<meta http-equiv="refresh" content="2;url={{ next }}">


	<div class="content_box green">
        <div class="content_headline green">Redirect</div>
        <div class="content">
			<p>Map deleted. You will be redirected in few seconds. If not click <a href="{{ next }}">here</a>.</p>
		</div>
	</div>
{% endblock content %}
