{% extends "simpleblue/mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Upload map{% endblock title %}

{% block tab_content %}

<div class="body">
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        {{ form.as_p }}
        <p><input class="button" type="submit" value="Upload"></p>
    </form>
</div>

{% endblock tab_content %}
