{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    moderator_settings
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Edit moderator{% endblock title %}

{% block content %}

<div class="server_detail_edit_moderator">
    <form action="{{ request.path }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        <h2>General settings</h2>
        <table class="form_table">
            <tbody>
                <tr>
                    <th><label for="restart_allowed">Allow restarting server:</label></th>
                    <td>
                        <input type="checkbox" name="restart_allowed" id="restart_allowed"{% if moderator_settings.restart_allowed != 0 %} checked="checked"{% endif %}>
                        <label class="checkbox" for="restart_allowed"></label>
                    </td>
                </tr>
                <tr>
                    <th><label for="edit_votes_allowed">Allow editing votes:</label></th>
                    <td>
                        <input type="checkbox" name="edit_votes_allowed" id="edit_votes_allowed"{% if moderator_settings.edit_votes_allowed != 0 %} checked="checked"{% endif %}>
                        <label class="checkbox" for="edit_votes_allowed"></label>
                    </td>
                </tr>
                <tr>
                    <th><label for="map_upload_allowed">Allow uploading maps:</label></th>
                    <td>
                        <input type="checkbox" name="map_upload_allowed" id="map_upload_allowed"{% if moderator_settings.map_upload_allowed != 0 %} checked="checked"{% endif %}>
                        <label class="checkbox" for="map_upload_allowed"></label>
                    </td>
                </tr>
                <tr>
                    <th><label for="edit_rcon_commands_allowed">Allow editing rcon commands:</label></th>
                    <td>
                        <input type="checkbox" name="edit_rcon_commands_allowed" id="edit_rcon_commands_allowed"{% if moderator_settings.edit_rcon_commands_allowed != 0 %} checked="checked"{% endif %}>
                        <label class="checkbox" for="edit_rcon_commands_allowed"></label>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Options</h2>
        <table class="form_table">
            <tbody>
                {% for option in server.config_options.all %}
                <tr>
                    <th><label for="{{ option.command }}">Allow editing '{{ option.command }}':</label></th>
                    <td>
                        <input type="checkbox" name="{{ option.command }}" id="{{ option.command }}"{% if option in moderator_settings.allowed_options.all %} checked="checked"{% endif %}>
                        <label class="checkbox" for="{{ option.command }}"></label>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if server.config_tunes.all %}
        <h2>Tunings</h2>
        <table class="form_table">
            <tbody>
                {% for tune in server.config_tunes.all %}
                <tr>
                    <th><label for="{{ tune.command }}">Allow editing '{{ tune.command }}':</label></th>
                    <td>
                        <input type="checkbox" name="{{ tune.command }}" id="{{ tune.command }}"{% if tune in moderator_settings.allowed_tunings.all %} checked="checked"{% endif %}>
                        <label class="checkbox" for="{{ tune.command }}"></label>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <p><input class="button" type="submit" value="Update"></p>
    </form>
    <form action="{{ request.path }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        <input type="hidden" name="form-delete-moderator" id="form-delete-moderator">
        <p><input class="button" type="submit" value="Delete moderator"></p>
    </form>
</div>

{% endblock content %}
