{% extends "base.html" %}

{% load menu %}
{% load get_option %}

{% comment %}
context variables:
    server
{% endcomment %}

{% block content %}

<div class="server_detail_headline {% if server.is_online %}on{% else %}off{% endif %}">
    <h2>{{ server|get_option:'sv_name' }}</h2>
</div>
<div>
    <div id="tabmenu">
        <div id="tabmenu_box">
            {% url server_detail server.id as url_info %}
            {% url upload_map server.id as url_upload_map %}
            {% url server_edit server.id as url_edit_settings %}
            {% url server_edit_votes server.id as url_edit_votes %}
            {% url server_tunes server.id as url_edit_tunes %}
            {% url server_votes server.id as url_votes %}
            <a href="{{ url_info }}"><div class="tab{% current request url_info %}">Info</div></a>
            {% if server.config_votes.all %}
                <a href="{{ url_votes }}"><div class="tab{% current request url_votes %}">Show Votes</div></a>
            {% endif %}
            {% if server.owner == user %}
                <a href="{{ url_upload_map }}"><div class="tab{% current request url_upload_map %}">Upload Map</div></a>
                <a href="{{ url_edit_settings }}"><div class="tab{% current request url_edit_settings %}">Edit Settings</div></a>
                <a href="{{ url_edit_votes }}"><div class="tab{% current request url_edit_votes %}">Edit Votes</div></a>
                {% if server.config_tunes.all %}
                    <a href="{{ url_edit_tunes }}"><div class="tab{% current request url_edit_tunes %}">Edit Tunings</div></a>
                {% endif %}
            {% endif %}
            <div class="clear"></div>
        </div>
        <div class="tabmenu_content">
            {% block tab_content %}{% endblock tab_content %}
        </div>
    </div>
</div>

{% endblock content %}
