{% extends "simpleblue/base.html" %}

{% comment %}
context variables:
    next
    map_exists
{% endcomment %}

{% block title %}upTee - Server status changed{% endblock title %}

{% block content %}

<!-- Sorry, I don't like it either. -->
<meta http-equiv="refresh" content="2;url={{ next }}">

<p>{% if map_exists %}Server status changed.{% else %}<span class="config_error">Map does not exist!</span>{% endif %} You will be redirected in few seconds. If not click <a href="{{ next }}">here</a>.</p>

{% endblock content %}
