<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}upTee{% endblock title %}</title>

        <meta name="description" content="">
        <meta name="author" content="Fisico">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_URL }}new_design/img/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}new_design/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="../../static/new_design/css/style.css" type="text/css">
        <link rel="stylesheet" href="../../static/new_design/css/forms.css" type="text/css">
    </head>
    <body>
        <div id="header">
            <div id="logo"></div>
        </div>
        <div id="server_menu">
            <div id="server_menu_frame">
                <div class="entry_user">
                    <div class="avatar"></div>
                    <div class="underline">Username</div>
                </div>
                <div class="entry">
                    <div class="icon"></div>
                    <div class="underline">Server 1</div>
                </div>
                <div class="entry">
                    <div class="icon"></div>
                    <div class="underline">Server 2</div>
                </div>
                <div class="entry">
                    <div class="icon"></div>
                    <div class="underline">Server 3</div>
                </div>
            </div>
        </div>
        <div id="option_menu_frame">
            <div class="placeholder"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
        </div>


    </body>
</html>
