<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}upTee{% endblock title %}</title>

        <meta name="description" content="">
        <meta name="author" content="Fisico">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_URL }}new_design/img/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}new_design/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}new_design/css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}new_design/css/forms.css" type="text/css">
        {% block extra_head %}{% endblock extra_head %}
        {% if settings.ANALYTICS_ID %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ settings.ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>
    <body>

        {% load get_option %}
        {% load gravatar %}


        <div id="header">
            <div id="logo"></div>
        </div>

        <div id="server_menu">
            <div id="server_menu_frame">

                {% if user.is_authenticated %}
                    
                    <div class="entry_user">
                        <div class="avatar"><img src="{% gravatar_for_user user 60 %}"></div>
                        <div class="underline">{{ user.username }}</div>
                    </div>

                    {% for server in user_server_list %}

                        <div class="entry">
                            <div class="icon"></div>
                            <div class="underline">{{ server|get_option:'sv_name'|truncatechars:12 }}</div>
                        </div>

                    {% endfor %}

                {% endif %}
                
            </div>
        </div>

        <div id="option_menu_frame">
            <div class="placeholder"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
            <div class="entry"></div>
        </div>

        <div id="content_container">

        </div>
    </body>
</html>
