celery>=3.0
Django>=1.5
django-annoying>=0.7.6
django-celery>=3.0
django-admin-tools>=0.4.0
django-debug-toolbar>=0.9.4
-e git+https://github.com/viaregio/django-simple-captcha.git#egg=django-simple-captcha
django-pybrowscap>=0.9.1
django-pagination>=1.0.7
-e git+https://github.com/SushiTee/django-gravatar.git#egg=django-gravatar
django-picklefield>=0.3.0
django-crumbs>=0.5.0
markdown>=2.2.0
Pillow>=2.2.1
psutil>=0.6.1
pytz
south>=0.7.3
