{% extends "base.html" %}

{% comment %}
context variables:
    new_keys
    form
{% endcomment %}

{% block title %}upTee - Generate keys{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
    {% add_crumb 'Generate testing keys' 'generate_testing_keys' %}
{% endblock %}

{% block content %}


    
    <div class="contentBox">
        <div class="contentHeadline">Generate Testing Keys</div>
        <div class="content">
            <h2>Generate keys</h2>
            <form method="post" action="{{ request.path }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                <table class="formTable">
                    <tbody>
                        {{ form.as_table }}
                    </tbody>
                </table>
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    <div>



{% if new_keys %}
    <div class="contentBox">
        <div class="contentHeadline">Generate Testing Keys</div>
        <div class="content">
            <h2>New keys</h2>
            <ul>
                {% for key in new_keys %}
                    <li>{{ key }}</li>
                {% endfor %}
            </ul>
        </div>
    <div>
{% endif %}

{% endblock %}
