#calendarContainer{
    position: relative;
}

.calendarHead {
    width: 280px;
    height: 200px;
    background: #1b7ffa;
    position: relative;
}

    .calendarHead .month {
        margin-top: 20px;
        height: 80px;
        line-height: 100px;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }

    .calendarHead .year {
        height: 25px;
        line-height: 25px;
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    .calendarHead .addEventButton {
        margin: auto;
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2);
        height: 40px;
        width: 130px;
        line-height: 40px;
        font-size: 15px;
        text-align: center;
        color: #fff;
        cursor: pointer;

    }

        .calendarHead .addEventButton:hover {
            background: rgba(0, 0, 0, 0.3);
        }

        .calendarHead .addEventButton:active {
            background: rgba(0, 0, 0, 0.4);
        }

    .calendarHead .arrowLeft {
        position: absolute;
        top: 90px;
        left: 10px;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid #fff;
        cursor: pointer;
    }

    .calendarHead .arrowRight {
        position: absolute;
        top: 90px;
        right: 10px;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-left:10px solid #fff;
        cursor: pointer;
    }

    .calendarHead .preLoader {
        position: absolute;
        background: url('../img/preloader-w8-line-white.png') no-repeat;
        display: inline-block;
        height: 20px;
        position: absolute;
            top: 10px;
            left: 30px;
        width: 220px;
        z-index: 12;
        display: none;
    }

.calendarBody{
    background: #eeeeee;
    width: 280px;
    height: 230px;
}

    .calendarBody .day, .calendarBody .weekday {
        position: relative;
        float: left;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        outline: 0px solid gray;
    }

    .calendarBody .day:empty {
        cursor: default;
    }

    .calendarBody .weekday {
        height: 30px;
        line-height: 30px;
    }

    .calendarBody .day:hover{
        background: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }

    .calendarBody .day:active{
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .calendarBody .day:empty {
        background: none;
        cursor: default;
    }

    .calendarBody .day.sun{
        color: #c80000;
    }

    .calendarBody .day .event{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
            top: 5px;
    }

        .calendarBody .day .event.active{
            right: 5px;
            background: #56af45;
        }

        .calendarBody .day .event.done{
            left: 5px;
            background: #e63a3a;
        }

        .calendarBody .day .event.inactive{
            left: 5px;
            background: #ff9326;
        }


    .calendarBody .day.current{
            background: #1b7ffa;
            color: #fff;
            border-radius: 50%;
            font-weight: bold;
            font-size: 14px;
    }

    .calendarBodyHeader{
        background: #dddddd;
        height: 30px;
    }

        .calendarBodyHeader .day{
            float: left;
            height: 30px;
            width: 40px;
            line-height: 30px;
            text-align: center;
            outline: 0px solid gray;
        }

        .calendarBodyHeader .day.sun, .calendarBodyHeader .weekday.sun {
            color: #c80000;
        }

    
    .placeholder { 
        background: #1b7ffa;
        height: 10px; 
        width: 280px;
    }
    
    .eventsDay, .eventsUpcoming {
        background: #dddddd;
        width: 280px;
        position: relative;
    }

        .eventsDay .event, .eventsUpcoming .event {
            height: 20px;
            border-bottom: 1px solid #ccc;
            padding: 5px 5px 5px 10px;
        }

        .eventsDay .event.headline, .eventsUpcoming .event.headline {
            font-weight: bold;
        }

        .eventDay .event .delete, .eventsUpcoming .event .delete {
            background: url('../icons/close_icon.png') no-repeat center;
            position: absolute;
            right: 5px;
            height: 15px;
            width: 15px;
        }

.calendarDayListContainer {
    width: 280px;
    height: 200px;
    position:relative;
    overflow:hidden;
}

.calendarDayLists {
    position: absolute;
    width: 840px;
    left: 0px;
    top: 0;
}

.calendarDayListItem {
    width: 280px;
    float: left;
}

.addEvent {
    background: #eeeeee;
    width: 280px;
    height:  300px;
    position: absolute;
    left: 290px;
    top: 0;
}