#login_container {
    position: relative;
    margin: 75px auto 0 auto;
    width: 455px;
}


    #login_container .description_box {
        float: left;
        border: 1px solid #666;
        border-right: none;
        padding: 15px;
        font-size: 16px;
        width: 130px;
        margin-bottom: 10px;
        background: #666;
        color: #fff;
    }

    #login_container .description_box .active {
        border: 1px solid #378ce1;
        border-right: none;
        background: #378ce1;
    }

    #login_container .description_box .error {
        border: 1px solid #e63a3a;
        border-right: none;
        background: #e63a3a;
        color: #000;
    }

    #login_container .form_box {
        float: left;
        margin-bottom: 10px;
    }

    #login_container .submit_box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 30px;
        width: 200px;
    }


#login_container .icon_user{
    background: #fff url('../icons/person.png') no-repeat 5px center;
}

#login_container .icon_pw{
    background: #fff url('../icons/lock.png') no-repeat 5px center;
}


#login_container input[type=text] {
    width: 220px;
    font-size: 16px;
    border: 2px solid #666;
    padding: 15px 15px 15px 30px;
}


   #login_container input[type=text]:focus{
    border: 2px solid #378ce1;
    }

    #login_container input.error[type=text]{
    border: 2px solid #e63a3a;
    }



#login_container input[type=password]{
    width: 220px;
    font-size: 16px;
    padding: 15px 15px 15px 30px;
    border: 2px solid #666;
}


   #login_container input[type=password]:focus{
    border: 2px solid #378ce1;
    }

    #login_container input.error[type=password]{
        border: 2px solid #e63a3a;
    }


#login_container input[type=submit]{
    background: #56af45;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    border: none;
}

    #login_container input[type=submit]:hover{
        background: #4e9e3e;
    }

    #login_container input[type=submit]:active{
        background: #479038;
    }