/* ---form table--- */
.formTable { 
    border-collapse: separate;
    border-spacing: 0 20px;
    border: none;
}

    .formTable td {
        padding-left: 20px;
        text-align: left;
        border: none;
    }

        .formTable td:first-of-type {
        }

    .formTable th {
        text-align: right;
        border: none;
    }

    .formTable tr  {
        margin-top: 10px;
        text-align: right;
        border: none;
    }
/* ---END form table--- */


/* ---Login / register forms--- */
#loginBox{
    position: relative;
    margin: 100px auto 0 auto;
    width: 390px;
}

#loginContainer,
#registerContainer {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
    border-top-left-radius: 0;
}

#loginBox .tabBox{
    background: #e5e5e5;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 50px;
    width: 150px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 20px;
}


    #loginContainer .formBox, 
    #registerContainer .formBox {
        float: left;
        margin-bottom: 10px;
    }

    #loginContainer .submitBox, 
    #registerContainer .submitBox {
        margin-top: 20px;
    }


#loginContainer .iconUsername {
    background: #fff url('../icons/person.png') no-repeat 5px center;
}

#loginContainer .iconPassword {
    background: #fff url('../icons/lock.png') no-repeat 5px center;

}


#loginContainer input[type=text], 
#loginContainer input[type=email], 
#loginContainer input[type=password], 
#registerContainer input[type=text], 
#registerContainer input[type=email], 
#registerContainer input[type=password] {
    width: 320px;
    font-size: 16px;
    border: 2px solid #dde0e2;
    padding: 11px 10px 11px 10px;
    height: 18px;
    border-radius: 3px;
}
    /* Override for icons */
    #loginContainer input[type=password],
    #loginContainer input[type=text]{
        padding: 11px 10px 11px 30px !important;
        width: 300px;
    }

    #loginContainer input[type=text]:focus, 
    #loginContainer input[type=email]:focus, 
    #loginContainer input[type=password]:focus,
    #registerContainer input[type=text]:focus, 
    #registerContainer input[type=email]:focus, 
    #registerContainer input[type=password]:focus {
        border: 2px solid #1b7ffa;
    }

    #loginContainer input.error[type=text], 
    #loginContainer input.error[type=email], 
    #loginContainer input.error[type=password],
    #registerContainer input.error[type=text], 
    #registerContainer input.error[type=email], 
    #registerContainer input.error[type=password] {
        border: 2px solid #fb3f35;
    }
/* ---END login / register forms--- */


/* ---Content forms--- */
.content input[type=text], 
.content input[type=password], 
.content input[type=email] {
    background: #fff;
    width: 200px;
    border: 1px solid #666;
    padding: 5px;
}


   .content input[type=text]:focus, 
   .content input[type=password]:focus, 
   .content input[type=email]:focus {
        border: 1px solid #1b7ffa;
    }

    .content input.error[type=text], 
    .content input.error[type=password], 
    .content input.error[type=email] {
        border: 1px solid #fb3f35;
    }


textarea {
    background: #fff;
    width: 200px;
    min-width: 200px;
    max-width: 530px;
    height: 100px;
    border: 1px solid #666;
    padding: 5px;
}

    textarea:focus {
        border: 1px solid #1b7ffa;
    }


input[type=checkbox] {
    display: none;
}

input[type=checkbox]
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

    input[type=checkbox]
    + label.checkbox:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -20px;
        height: 20px;
        width: 20px;
    }


input[type=checkbox]:checked
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -40px;
    height: 20px;
    width: 20px;
}

    input[type=checkbox]:checked
    + label.checkbox:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -60px;
        height: 20px;
        width: 20px;
    }



input[type=radio] {
    display: none;
}

input[type=radio]
+ label.radio {
    background: url('../img/radio.png') no-repeat;
    background-position:0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

    input[type=radio]
    + label.radio:hover {
        background: url('../img/radio.png') no-repeat;
        background-position:0 -20px;
        height: 20px;
        width: 20px;
    }


input[type=radio]:checked
+ label.radio {
    background: url('../img/radio.png') no-repeat;
    background-position:0 -40px;
    height: 20px;
    width: 20px;
}

    input[type=radio]:checked
    + label.radio:hover {
        background: url('../img/radio.png') no-repeat;
        background-position:0 -60px;
        height: 20px;
        width: 20px;
    }   


select {
    background: url('../img/arrow.png') no-repeat right #fff;
    width: 210px;
    border: 1px solid #666;
    padding: 5px;
    -webkit-appearance: none;
}

    select:focus {
        border: 1px solid #1b7ffa;
    }
/* ---END content froms--- */


/* ---Blog comment form--- */
.createComment{
    width: 600px;
    margin-left: 100px;
    margin-top: 40px;
    background: #ccc;
    border-radius: 10px;
}

.createComment .headline{
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.createComment textarea {
    background: #ccc;
    width: 580px;
    max-width: 580px;
    height: 100px;
    border: none;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 0;

}

  .createComment  textarea:focus {
        background: rgba(0, 0, 0, 0.05); /*replace with hex*/
    }

.createComment .buttonBox {
    padding: 10px;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.createComment input[type=submit]{
    background: #666;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    min-width: 90px;
    min-height: 32px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

    .createComment input[type=submit]:hover{
        background: #777;
    }

    .createComment input[type=submit]:active{
        background: #555;
    }
/* ---END blog comment form--- */


/* ---Buttons--- */
input[type=submit], 
input[type=button], 
button[type=button]{  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 15px;
    min-width: 100px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #666;
}

input.login[type=submit]{  
    padding: 12px;
    font-size: 18px;
    min-width: 150px;
    width: 100%;
}


input.blue[type=submit], 
input.blue[type=button], 
button.blue[type=button] {
    background: #0b6aff;
    box-shadow: 0px 1px 0px rgba(6, 59, 143, 1);
}

input.red[type=submit], 
input.red[type=button], 
button.red[type=button] {
    background: #ff0000;
    box-shadow: 0px 1px 0px rgba(143, 0, 0, 1);
}

input.green[type=submit], 
input.green[type=button], 
button.green[type=button] {
    background: #90c842;
    box-shadow: 0px 1px 0px #7aa63d;
}

input.statusButton.big[type=submit]{  
    font-size: 25px;
    height: 50px;
    width: 150px;
    background: gray;
    border-radius: 10px;
}


input.statusButton.red[type=submit]{  
    background:rgb(255,59,48);
}

input.statusButton.green[type=submit]{  
    background:rgb(76,217,100);
}
/* ---END Buttons--- */