.form_table { 
    border-collapse: separate;
    border-spacing: 0 20px;
    border: none;
}

    .form_table td {
        padding-left: 20px;
        text-align: left;
        border: none;
    }

        .form_table td:first-of-type {
            width: 500px;
        }

    .form_table th {
        text-align: right;
        border: none;
    }

    .form_table tr  {
        margin-top: 10px;
        text-align: right;
        border: none;
    }

#login_container {
    position: relative;
    margin: 75px auto 0 auto;
    width: 455px;
}


    #login_container .description_box {
        position: relative;
        float: left;
        border: 1px solid #666;
        border-right: none;
        padding: 10px;
        font-size: 16px;
        width: 130px;
        height: 22px;
        margin-bottom: 10px;
        background: #666;
        color: #fff;
        height: 22px;
    }

        #login_container .description_box .active {
            border: 1px solid #378ce1;
            border-right: none;
            background: #378ce1;
        }

        #login_container .description_box .error {
            border: 1px solid #e63a3a;
            border-right: none;
            background: #e63a3a;
            color: #000;
        }

    #login_container .form_box {
        float: left;
        margin-bottom: 10px;
    }

    #login_container .submit_box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 30px;
        width: 200px;
    }


#login_container .icon_username{
    background: #fff url('../icons/person.png') no-repeat 5px center;
}

#login_container .icon_password1, #login_container .icon_password2{
    background: #fff url('../icons/lock.png') no-repeat 5px center;
}


#login_container input[type=text], #login_container input[type=email], #login_container input[type=password] {
    width: 220px;
    font-size: 16px;
    border: 2px solid #666;
    padding: 11px 10px 11px 30px;
    height: 18px;
}

    #login_container input[type=text]:focus, #login_container input[type=email]:focus, #login_container input[type=password]:focus {
        border: 2px solid #378ce1;
    }

    #login_container input.error[type=text], #login_container input.error[type=email], #login_container input.error[type=password] {
        border: 2px solid #e63a3a;
    }


#login_container input[type=submit]{
    background: #56af45;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    border: none;
}

    #login_container input[type=submit]:hover{
        background: #4e9e3e;
    }

    #login_container input[type=submit]:active{
        background: #479038;
    }


/* -----Content------ */

.content input[type=submit], .link_button{
    background: #666;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    min-width: 90px;
    min-height: 32px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

    .content input[type=submit]:hover, .link_button:hover {
        background: #777;
    }

    .content input[type=submit]:active, .link_button:active {
        background: #555;
    }


.content input[type=text], .content input[type=password], .content input[type=email] {
    background: #fff;
    width: 200px;
    border: 1px solid #666;
    padding: 5px;
}


   .content input[type=text]:focus, .content input[type=password]:focus, .content input[type=email]:focus {
    border: 1px solid #378ce1;
    }

    .content input.error[type=text], .content input.error[type=password], .content input.error[type=email] {
    border: 1px solid #e63a3a;
    }


textarea {
    background: #fff;
    width: 200px;
    min-width: 200px;
    max-width: 530px;
    height: 100px;
    border: 1px solid #666;
    padding: 5px;
}

    textarea:focus {
        border: 1px solid #378ce1;
    }


input[type=checkbox] {
    display: none;
}

input[type=checkbox]
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

    input[type=checkbox]
        + label.checkbox:hover {
            background: url('../img/checkbox.png') no-repeat;
            background-position:0 -20px;
            height: 20px;
            width: 20px;
        }


input[type=checkbox]:checked
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -40px;
    height: 20px;
    width: 20px;
}

    input[type=checkbox]:checked
    + label.checkbox:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -60px;
        height: 20px;
        width: 20px;
    }



input[type=radio] {
    display: none;
}

input[type=radio]
+ label.radio {
    background: url('../img/radio.png') no-repeat;
    background-position:0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

    input[type=radio]
        + label.radio:hover {
            background: url('../img/radio.png') no-repeat;
            background-position:0 -20px;
            height: 20px;
            width: 20px;
        }


input[type=radio]:checked
+ label.radio {
    background: url('../img/radio.png') no-repeat;
    background-position:0 -40px;
    height: 20px;
    width: 20px;
}

    input[type=radio]:checked
    + label.radio:hover {
        background: url('../img/radio.png') no-repeat;
        background-position:0 -60px;
        height: 20px;
        width: 20px;
    }   


select {
    background: url('../img/arrow.png') no-repeat right #fff;
    width: 210px;
    border: 1px solid #666;
    padding: 5px;
    -webkit-appearance: none;
}

    select:focus {
        border: 1px solid #378ce1;
    }