#contentContainer {
    left: 0;
}

#menu {
    display: none;
}


#header {
    min-width: 500px;
}


.logo {
    background: url('../img/logo_75.png') no-repeat 3px 5px;
    background-size: auto 40px;
    height: 40px;
    width: 180px;
}

#breadcrumb {
    display: none;
}


#contentContainer {
	position: relative;
	top: 0;
	clear: both;
    background: red;
    padding: 10px;
    min-width: 479px;
    overflow: visible;
}


#usermenuBox {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 100px;
    z-index: 100;
    background: black;
}
