/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
    /* F*ck y ios */
    -webkit-border-radius: 0px;  
    -webkit-appearance: none;
}

/* F*ck y IE */
img {
  border-width: 0;
}

.clear {
    clear: both;
}


a:visited, a:link {

}

.bold {
    font-weight: bold;
}

html, body {
    background: #fff;
    height: 100%;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 13px !important;
    color: #000;
} 

#header {
    background: #378ce1;
    width: 100%;
    height: 50px;
    min-width: 810px;
}

#headermenu {
    position: absolute;
    top: 0;
    left: 250px;
}

#usermenu {
    position: absolute;
    top: 0;
    right: 25px;
}

#headermenu ul, #usermenu ul{
    list-style-type: none;
    height: 50px;
    margin: auto;
}

#headermenu li, #usermenu li{
    float: left;
    height: 50px;
    background: none;
    display: block;
}

#headermenu li a, #usermenu li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#menu li .entry.current {
    background: #fff;
    color: #000;
}

#headermenu li a:hover, #usermenu li a:hover{
    background: rgba(0,0,0,0.1);
}


.logo {
    background: url('../img/logo_75.png') no-repeat 3px 5px;
    background-size: auto 40px;
    height: 40px;
    width: 180px;
}

#menufiller {
    background: #eee;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 50px;
}

#menu {
    background: #eee;
    width: 250px;
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0;
    overflow: auto;
    z-index: 1;
}

#menu li a{
    display: block;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: 1px solid transparent;
    color: #000;
}

#menu li a:hover{
    background: #dddddd;
    border-bottom: 1px solid #009bff;
}



#menu li p{
    font-size: 18px;
    padding-left: 10px;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

#menu li p:hover{
    background: #dddddd;
    border-bottom: 1px solid #378ce1;
}

#content_container {
    background: #fff;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
    padding: 30px;
    overflow: auto;
    min-width: 500px;
    z-index: 5;
}

#content_container .spacer{
    width: 100%;
    height: 20px;
}

#breadcrumb {
    border-bottom: 1px solid #ccc;
    height: 25px;
}

    #breadcrumb .icon {
        background: url('../icons/home2.png');
        height: 15px;
        width: 15px;
        margin-top: 7px;
        margin-left: 10px;
        float: left;
    }

    #breadcrumb .text {
        margin-left: 10px;
        margin-top: 6px;
        width: 300px;
        float: left;
        color: #555555;
    }


.content_box, .blog_box {
    border: 2px solid #378ce1;
    margin-bottom: 30px;
    float: left;
    margin-right: 50px;
    width: 100%;
}

.content_headline, .blog_headline {
    background: #378ce1;
    display: block;
    padding: 5px 10px 10px 10px;
    font-size: 20px;
    color: #fff;
}

.blog_box .footer{
    background: #eee;
    border-top: 1px solid #bbbbbb;
    padding: 5px;
    padding-left: 10px;
    font-size: 10px;

}

/* -----Custom Box Frames---------------- */
.content_box.gray, .blog_box.gray{
    border: 2px solid #666;
}

.content_headline.gray, .blog_headline.gray{
    background: #666;
}

.content_box.darkgray, .blog_box.darkgray{
    border: 2px solid #333;
}

.content_headline.darkgray, .blog_headline.darkgray{
    background: #333;
}

.content_box.red, .blog_box.red{
    border: 2px solid #e63a3a;
}

.content_headline.red, .blog_headline.red{
    background: #e63a3a;
}

.content_box.green, .blog_box.green{
    border: 2px solid #56af45;
}

.content_headline.green, .blog_headline.green{
    background: #56af45;
}
/* -----END Custom Box Frames---------------- */

/*----login messages----*/
#login_messages {
    padding-top: 20px;
}
/*----END login messages----*/

/*----Notifications-----*/
.notification {
    position: relative;
    color: #fff;
    background: #666;
    width: 555px;
    height: 20px;
    padding: 15px 10px 15px 60px;
    margin: 0 auto 20px;
}

.notification.info {
    background: url('../icons/info.png') no-repeat, #666;
}


.notification.success{
    background: url('../icons/sucess.png') no-repeat, #666;
}

.notification.warning{
    background: url('../icons/warning.png') no-repeat, #666;
}

.notification.error{
    background: url('../icons/error.png') no-repeat, #666;
}

.notificationClose{
    background: url('../icons/close.png') no-repeat center;
    height: 20px;
    width: 20px;
    float: right;
    opacity: 0.5;
}

    .notificationClose:hover {
        opacity: 1.0;
        cursor: pointer;
    }

/*----END Notifications-----*/

.blog_box div.right {
    float: right;
}

.blog_box div.left {
    float: left;
}

.content {
    background: #efefef;
    padding: 10px;
}


/* server info */

.content h1 {
    color: #378ce1;
    border-bottom: 1px solid #378ce1;
    font-size: 18px;
    padding:0 0 5px 0;
    width: 300px;

}


.content table {
    border-collapse: collapse;
}

.content tr {
    border-bottom: 1px solid #bbbbbb;
    padding-right: 5px;
}

.content td {
    padding: 5px 35px 5px 5px;
}

.content .box {
    float: left;
    margin-right: 50px;
}
