/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
    /* F*ck y ios */
    -webkit-border-radius: 0px;  
    -webkit-appearance: none;
}

/* F*ck y IE */
img {
  border-width: 0;
}

.clear {
    clear: both;
}


a:visited, 
a:link {
    text-decoration: none;
    color: #1b7ffa;
}


a:visited:hover, 
a:link:hover {
    text-decoration: underline;
}


.bold {
    font-weight: bold;
}


html, 
body {
    background: #fff;
    height: 100%;
    font-family: "Ubuntu", "sans-serif";
    font-weight: 300;
    font-size: 13px !important;
    color: #000;
} 


#header {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
    background: rgba(255,255,255,.9);
    height: 50px;
    z-index: 10;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
}

.logo {
    background: url('../img/upteelogo.png') no-repeat 10px 6px;
    height: 50px;
}


#headermenu {
    position: absolute;
        top: 0;
        left: 250px;
    z-index: 11;
}

#loginmenu {
    position: absolute;
        top: 0;
        right: 20px;
    z-index: 11;
}

#headermenu ul, 
#loginmenu ul{
    list-style-type: none;
    height: 50px;
}

#headermenu li, 
#loginmenu li{
    float: left;
    height: 50px;
}

#headermenu li a, 
#loginmenu li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

#headermenu li a:hover, 
#loginmenu li a:hover{
    background: rgba(0,0,0,0.05);
}

#userMenu {
    position: absolute;
        right: 20px;
        top: 0px;
    height: 50px;
    z-index: 11;
}

#userMenu p {
    line-height: 50px;
    height: 50px;
    float: left;
    text-align: left;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

#userMenu img{
    float: right;
}

#userMenu #usermenuBox {
    position: absolute;
        top: 50px;
        right: -17px;
    width: 200px;
    z-index: 11;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: none;
    box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.2);
}


#userMenu #usermenuBox ul li {
    padding: 10px 10px 10px 10px;
    list-style: none;
    font-size: 15px;
}


#userMenu #usermenuBox ul li:hover{
    background: #e7f7ff;
}


.statusIcon {
    position: absolute;
        top: 0px;
        right: 0px;
    width: 5px;
    height: 40px; 
}

.statusIcon.off {
    background: #fb3f35;
    border-bottom: 1px solid #fb3f35;
}

.statusIcon.on {
    background: #52d86a;
    border-bottom: 1px solid #52d86a;
}

#menu {
    position: absolute;
        left: 0px;
        top: 50px;
        bottom: 0;
    background: #333;
    width: 250px;
    overflow: auto;
}


#menu li {
    position: relative;
}

#menu li a{
    display: block;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    padding-left: 20px;
    color: #999;
}

#menu li a:hover{
    background: rgba(255,255,255,.05);
    color: #fff;
}


#menu li p{
    color: #ccc;
    font-size: 14px;
    padding: 5px 10px 5px 5px;
    line-height: 30px;
    cursor: pointer;
}

#menu li p:hover{
    background: rgba(255,255,255,.1);
    color: #fff;
}

#menu li .entry.current{
    background: rgba(255,255,255,.1);
}



#footer{
    clear: both;
    position: absolute;
        bottom: 0;
        left: 250px;
        right: 0;
    border-top: 1px solid #ccc;
    height: 30px;
    z-index: 8;
    background: rgba(255,255,255,.9);

}

#footer ul.left{
    float: left;
    margin-left: 10px;
    font-size: 12px;
}

#footer .left li{
    line-height: 20px;
    float: left;
    list-style-type: none;
    padding: 0 10px;
}

#footer ul.right{
    float: right;
}

#footer .right li{
    line-height: 20px;
    float: right;
    list-style-type: none;
    padding: 0 20px 0 0;
    font-size: 11px;
}

#contentContainer {
    border-left: 1px solid #ccc;
    background: none;
    background-repeat: no-repeat;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 250px;
        right: 0;
    padding: 80px 0 0 0;
    overflow: auto;
    min-width: 850px;
}

#contentContainer.full{ /*Errorpage*/
    left: 0;
}


#breadcrumb {
    position: absolute;
        top: 50px;
        left: 250px;
        right: 0;
    height: 30px;
    z-index: 6;
    border-bottom: 1px solid #ccc;
    background: rgba(255,255,255,.95);
}

    #breadcrumb .icon {
        background: url('../icons/home2.png');
        height: 15px;
        width: 15px;
        margin: 8px 0 0 10px;
        float: left;
    }

    #breadcrumb .text {
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        float: left;
    }


.contentBox {
    margin: 30px;
    width: 100%;
    float: left;
    position: relative;
}

.content {
    padding: 10px;
}

.contentHeadline {
    padding: 5px 10px 10px 10px;
    font-size: 30px;
    position: relative;
    font-weight: 400;
}

.contentHeadline a.edit_link {
    position: absolute;
        top: 13px;
        right: 15px;
    font-size: 13px;
    color: #fff;
}

.contentHeadline p.underline{
    float: right;
    font-size: 13px;
    color: #000;
    margin-top: -5px;
    margin-right: -11px;
    line-height: 44px;
    padding: 0 10px 0 10px;
    background: rgba(0,0,0,0.15);
    border-top-right-radius: 5px;
}

    .contentHeadline p.underline.red{
        color:rgb(255,59,48);
    }

    .contentHeadline p.underline.green{
        color:rgb(76,217,100);
    }


/* ---Blog--- */

.blogContainer{
    width: 100%;
    margin-bottom: 40px;
}


.blogBox{
    padding: 10px;
    margin: 20px;
    width: 90%;
    border: 1px solid #ccc;
}

    .blogBox:nth-child(odd) {
        float: left;
        background: #efefef;
    }

    .blogBox:nth-child(even) {
        float: right;
        background: #fff;
    }

    .blogBox.detail{
        float: none;
        width: auto;
        padding: 10px;
        margin: 20px;
        border: 1px solid #ccc;
        background: #fff;
    }


.blogHeadline {
    font-size: 20px;
    padding: 0 3px;
}

.blogHeadline p.date {
    float: right;
    font-size: 10px;
    line-height: 25px;
    font-weight: bold;
    color: #000;
}

.blogBox .content {
    padding: 0;
}

.blogBox .footer{
    font-size: 10px;
    margin-top: 15px;
    padding: 2px 5px 0 5px;
    border-top: 1px solid #ccc;
}

    .blogBox .footer .right {
        float: right;
    }

    .blogBox .footer .left {
        float: left;
    }
/* ---END Blog--- */


/* ---Blog comments--- */
.commentsHeadline{
   text-align: center;
   font-size: 20px;
   margin-top: 30px;
}


.commentContainer {
    color: #000;
    border: 1px solid blue;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #efefef;
}

    .commentContainer.staff{
            border: 1px solid rgba(0,118,255,.5);
            background: rgba(0,118,255,.1);
        }

    .commentContainer.preview{
            border: 1px solid rgba(68,219,94,.5);
            background: rgba(68,219,94,.1);
        }

.commentContainer .avatar{
    position: absolute;
}

.commentContainer .comment {
    margin-left: 90px;
}

    .commentContainer .comment .headline{
        position: relative;
        height: 25px;
    }


    .commentContainer .comment .entry{
    }

        .commentContainer .comment .headline .user{
            float: left;
            margin-left: 5px;
            font-size: 17px;
            font-weight: bold;
        }

        .commentContainer .comment .headline .links{
            float: right;
            margin-right: 10px; 
        }

    
    .commentContainer .comment .footer{
        border-top: 1px solid #000;
        margin: 20px 0 0 5px; 
    }

.comment a:visited, 
.comment a:link{
    color: #000;
    text-decoration: underline;
}
/* ---END Blog comments---*/


/* ---Colors--- */
.colorPink{color:rgba(255,40,81,1)!important;}
.colorRed{color:rgba(255,56,36,1)!important;}
.colorOrange{color:rgba(255,150,0,1)!important;}
.colorYellow{color:rgba(255,205,0,1)!important;}
.colorGreen{color:rgba(68,219,94,1)!important;}
.colorBlue{color:rgba(0,118,255,1)!important;}
.colorTeal{color:rgba(87,81,217,1)!important;}

.bgPink{background:rgba(255,40,81,1)!important;}
.bgRed{background:rgba(255,56,36,1)!important;}
.bgOrange{background:rgba(255,150,0,1)!important;}
.bgYellow{background:rgba(255,205,0,1)!important;}
.bgGreen{background:rgba(68,219,94,1)!important;}
.bgBlue{background:rgba(0,118,255,1)!important;}
.bgTeal{background:rgba(87,81,217,1)!important;}

.errorbg{ background:rgb(205,32,32)!important; }
/* ---End Colors--- */

.colorpicker .color{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 3px solid transparent;
    float: left;
}

    .colorpicker .color:hover,
    .colorpicker .color.active
    {
        border: 3px solid #000; 
    }


/* ---login messages--- */
#login_messages {
    margin-top: 100px;
}
/* ---END login messages--- */


/* ---Notifications--- */
.notification {
    position: relative;
    color: #fff;
    background: #666;
    padding: 10px 10px 10px 35px;
}

.notification.info{
    background: url('../icons/info.png') no-repeat 10px center, #bfe3f9;
    border-bottom: 1px solid #63a3cf;
    color: #034e96;
}

.notification.success{
    background: url('../icons/success.png') no-repeat 10px center, #dee3ab;
    border-bottom: 1px solid #a0c35b;
    color: #4f8a14;
}

.notification.warning{
    background: url('../icons/warning.png') no-repeat 10px center, #fdebad;
    border-bottom: 1px solid #e4c455;
    color: #a06011;
}

.notification.error{
    background: url('../icons/error.png') no-repeat 10px center, #fecccb;
    border-bottom: 1px solid #ff9797;
    color: #d4000b;
}

.notificationClose{
    background: url('../icons/close_icon.png') no-repeat center;
    height: 20px;
    width: 20px;
    float: right;
    opacity: 0.5;
}

    .notificationClose:hover {
        opacity: 1.0;
        cursor: pointer;
    }
/* ---END Notifications---*/


/* ---server info--- */
.content h1 {
    color: #1b7ffa;
    border-bottom: 1px solid #1b7ffa;
    font-size: 18px;
    padding:0 0 5px 0;
    width: 300px;
}

.content .box {
    float: left;
    margin-right: 50px;
}

.content ul{
    margin-left: 30px;
}

.content p{
    margin: 5px;
    margin-left: 0;
}
/* ---end server info--- */


/* ---serverlist--- */
#linkList{
    margin: 10px 0 20px 10px;
    }

.serverstatus{
    height: 35px;
    width: 41px;
    position: absolute;
     right: 0;
     top: 6px;

}

.serverstatus.on{
    background: url(../img/status_on.png) no-repeat;
    background-size: 30px 30px;
}

.serverstatus.off{
    background: url(../img/status_off.png) no-repeat;
    background-size: 30px 30px;
}

/* ---END serverlist--- */


/* ---tables--- */
table.bordered{
    border-collapse:collapse;
    border: 1px solid #ccc;
}

.bordered th{
    background: #efefef;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.bordered td{
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

table.small{
    border-collapse:collapse;
    border: 1px solid #ccc;
}

.small th{
    background: #efefef;
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
}

.small td{
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

table.colored{
    border-collapse:collapse;
    border: 1px solid #ccc;
}

.colored th{
    background: #1b7ffa;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #fff;
}

.colored td{
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/* ---END tables---*/


/* ---terminal--- */
#terminal {
    background-color: #272822;
    width: 705px;
    color: #D4D4D4;
    box-shadow: 1px 1px 2px 2px #272822;
    margin: 10px;
    font-size: 14px;
}

#terminalCommandInput {
    background-color: #272822;
    border: none;
    color: #E6E6E6;
    width: 671px;
    font-size: 14px;
}

#terminalEnter {
    padding: 0px 5px;
}

#terminalEnter div:first-child {
    width: 14px;
    float: left;
    font-size: 22px;
}

#terminalEntry {
    height: 300px;
    padding: 5px;
    overflow: auto;
    border-bottom: thin solid #45473D;
}
/* ---END terminal--- */


/* ---vote delete / command delete button--- */
.deleteVote div.delButton,  
.deleteCommand div.delButton {
    background: url('../icons/close_icon.png') no-repeat center;
    height: 15px;
    width: 15px;
    float: right;
    opacity: 0.5;
}

.deleteVote div.delButton:hover, 
.deleteCommand div.delButton:hover {
    opacity: 1.0;
    cursor: pointer;
}
/* ---END vote delete / command delete button--- */


.content .helptext{
    font-size: 12px;
}


/* ---User Profile--- */
img.userProfile{
    border: 1px solid #ccc;
    padding: 5px;
}

p.joinLable{
    padding: 10px 0  10px 0;
    font-weight: normal;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    width: 260px;
}
/* ---END User Profile--- */


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #666;
}


/* ---Tabmenu--- */
#tabContainer{
    border-bottom: 1px solid #ccc;
}

ul.etabs { 
    text-align: center;
    width: 100%;
    display: table;
}

li.tab { 
    display: table-cell; 
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease;
}

li.tab:hover {
    border-bottom: 2px solid #1b7ffa;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease;
}

    li.tab a{
        font-size: 15px;
        padding: 10px;
    }

        li.tab a:hover{
            text-decoration: none;
        }

        li.tab a.active{
            color: #333;
        }

    li.tab.active {
        color: #333;
        border-bottom: 2px solid #1b7ffa;
    }

/* ---END Tabmenu--- */


/* ---Markdown--- */
.markdown p {
    margin: 5px;
}


.markdown h1, h2, h3, h4, h5, h6{
    margin: 10px 5px 10px 5px;
    color: #333;
}


.markdown blockquote {
    border-left: 10px solid #ccc;
    margin: 15px 15px;
    padding: 10px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.markdown blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 55px;
    line-height: 10px;
    margin-right: 10px;
    vertical-align:-20px;
}

.markdown blockquote p {
    display:inline;
}

.markdown ul {
    margin-left: 0;
}

    .markdown ul li {
        margin-left: 30px;
    }

.markdown ol li {
    margin-left: 30px;
}

.markdown pre {
    padding: 10px 0 0 5px;
    border: 1px solid #ff9326;
    border-left: 10px solid #ff9326;
    margin: 10px 0 10px 5px;
}

.markdown hr {
    margin: 10px 0 10px 0;
    border: none;
    border-top: 1px solid #1b7ffa;
}
/* ---END Markdown--- */ 


/* ---error Pages--- */
.errorContent {
    width: 1000px;
    height: 200px;
    position: absolute;
        left: 50%;
        top:50%;
    margin-left: -500px;
    margin-top: -200px;
    font-size: 160px;
}

.errorContent .errorCode{
    float: left;
    height: 160px;
    line-height: 160px;
    width: 260px;
    background: #cd2020;
    border-right: 10px solid #666;
    padding: 20px;
    font-family: arial;
    font-weight: bold;
    color: #fff;
}

.errorContent .errorText{
    float: left;
    height: 200px;
    width: 690px;
    background: #ccc;
}

.errorContent .errorText h2{
    color: #333;
    font-size: 30px;
    padding-left: 25px;
}

.errorContent .errorText p{
    color: #000;
    font-size: 20px;
    padding-left: 25px;

}
/* ---END error Pages--- */ 