{% extends "base.html" %}

{% load comments %}
{% load gravatar %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb form.target_object.title form.target_object.get_absolute_url %}
    {% add_crumb 'Comment preview' request.path %}
{% endblock %}

{% block content %}

{% if not form.errors %}
    <div class="comment">
        <div class="avatar">
            <img src="{% gravatar_for_user request.user 70 %}">
        </div>

        <div class="arrow preview"></div>

        <div class="headline preview">
            <div class="user"><b>{{ request.user.username }}:</b></div>
        </div>

        <div class="entry preview">
            {{ form.cleaned_data.comment|safe }}
        </div>

        <div class="footer preview">
            
        </div>
        <div class="clear"></div>
    </div>
{% endif %}

<div class="createComment">
    <div class="headline">Edit comment</div>
    <form method="post" action="{% comment_form_target %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        {% for field in form %}
            {% if field.is_hidden %}
                <p>{{ field }}</p>
            {% endif %}
            {% if field.name == 'comment' or field.name == 'honeypot' %}
            <div{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {% if field.name == 'comment' %}
                    <textarea id="id_comment" name="comment" required="">{{ field.value|default_if_none:"" }}</textarea>
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="form-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        <div class="buttonBox">
            <p>
                <input class="button" type="submit" name="submit" value="Post">
                <input class="button" type="submit" name="preview" value="Preview">
            </p>
        </div>
    </form>
</div>

{% endblock %}
