{% extends "base.html" %}

{% load comments %}
{% load gravatar %}
{% load menu %}
{% load pagination_tags %}

{% comment %}
context variables:
    entry_list
{% endcomment %}

{% block content %}

{% autopaginate entry_list 5 %}

{% for entry in entry_list %}
    {% get_comment_count for blog.entry entry.id as comment_count %}
    <div class="blog_box">
        <div class="blog_headline">{{ entry.title }}</div>
        <div class="content">
            <p>{{ entry.content_html|safe }}</p>
        </div>
        <div class="footer">
            <div class="left">Posted on <strong>{{ entry.created_at|date:"F j, Y" }}</strong> by <strong><a href="{% url 'user' entry.created_by.id %}">{{ entry.created_by.username }}</a></strong></div>
            <div class="right"><a href="{% url 'entry_detail' entry.slug %}">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
            <div class="clear"></div>
        </div>
    </div>
{% empty %}
    <div class="content_box">
        <div class="content_headline">Hello!</div>
        <div class="content">Hello {% if user.is_authenticated %}{{ user.username }}{% else %}Guest{% endif %}</div></div>
    </div>
{% endfor %}

{% paginate %}

{% endblock content %}
