{% extends "base.html" %}

{% load comments %}
{% load gravatar %}

{% comment %}
context variables:
    entry
{% endcomment %}

{% block title %}upTee - Blog entry details{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb entry.title entry_detail entry.slug %}
{% endblock %}

{% block content %}

<div class="blogBox">
        <div class="blogHeadline colorPink">
            {{ entry.title }}
            <p class="date">{{ entry.created_at|date:"F j, Y" }}</p>
        </div>

        <div class="content">
            <div class="markdown">
                <p>{{ entry.content_html|safe }}</p>
            </div>
        </div>
        <div class="footer">
            <div class="left"> by <strong><a href="{% url 'user' entry.created_by.id %}">{{ entry.created_by.username }}</a></strong></div>
            <div class="right"><a href="{% url 'entry_detail' entry.slug %}">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
            <div class="clear"></div>
        </div>
    </div>

<div id="comments">
    {% get_comment_list for blog.entry entry.id as comment_list %}
    {% get_comment_count for blog.entry entry.id as comment_count %}
    {% if comment_list %}
        <div class="commentsHeadline">
            {{ comment_count }} comment{{ comment_count|pluralize }}
        </div>
    {% endif %}

    {% for comment in comment_list %}
        <div id="cm-{{ comment.id }}" class="commentContainer{% if comment.user.is_staff %} staff{% endif %}">

            <div class="avatar">
                <img src="{% gravatar_for_user comment.user 70 %}">
            </div>

            <div class="comment">
                <div class="headline">
                    <div class="user"><a href="{% url 'user' comment.user.id %}">{{ comment.user.username }}</a></div>
                    <div class="links"><a title="Permalink" href="{{ entry.get_absolute_url }}#cm-{{ comment.id }}">#</a> {% if user.is_staff or user.is_superuser %}<a href="{% url 'comments-delete' comment.id %}">delete</a>{% endif %} </div>
                </div>

                <div class="entry">
                    <div class="markdown">
                        {{ comment.comment|safe }}
                    </div>
                </div>

                <div class="footer">
                    <div class="left">{{ comment.submit_date|date:"F j, Y" }}</div>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    {% endfor %}
</div>

<div class="clear"></div>

{% if user.is_authenticated %}
<div class="createComment">
    <div class="headline">Create comment</div>
    {% render_comment_form for entry %}
</div>
{% endif %}



{% endblock content %}
