{% extends "base.html" %}

{% comment %}
context variables:
    captcha
    register_form
{% endcomment %}

{% block title %}upTee - Activate{% endblock title %}

{% block content %}

<div class="head">
    <h2>User activation</h2>
</div>
<div class="body">
    <p>Your account has been successfully activated. You may now login.</p>
</div>

<div class="contentBox w500">
    <div class="contentHeadline">User activation</div>
    <div class="content">
        <p>Your account has been successfully activated. You may now login.</p>
    </div>
</div>

{% endblock %}
