{% extends "base.html" %}

{% block title %}upTee - Activate{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'User Activation' 'activate' '00000000000000000000000000000000' %}
{% endblock %}

{% block content %}

<div class="contentBox w500">
    <div class="contentHeadline">User activation</div>
    <div class="content">
        <p>Your account has been successfully activated. You may now login.</p>
    </div>
</div>

{% endblock %}
