{% extends "base.html" %}


{% block body %}

<div id="login_messages">
    {% include "messages.html" %}
</div>

<div id="loginBox">
    <div class="tabBox">Login</div>
    <div id="loginContainer">
        <form action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">

            <div class="formBox">
                <input class="iconUsername" type="text" name="username" value="" id="username" required="" placeholder="Username">
            </div>

            <div class="formBox">
                <input class="iconPassword" type="password" name="password" value="" id="password" required="" placeholder="Password">
            </div>
            <div class="clear"></div>


            <div class="submitBox">
                <input class="button positive green login"  type="submit" value="Login">
                <input type="hidden" name="next" value="{{ request.path }}">
            </div>
        </form>
    </div>
</div>
{% endblock body %}
