{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - Change password{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
    {% add_crumb 'Change password' 'change_password' %}
{% endblock %}

{% block content %}

<div class="contentBox w400">
    <div class="contentHeadline">Change Password</div>
    <div class="content">
        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
             <table class="formTable">
                <tbody>
                    {% for field in form %}
                    <tr>
                        <th>{{ field.label }}:</th>
                        <td>{{ field.errors }}<input class="{% if field.errors %} error{% endif %}" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}" id="{{ field.id_for_label }}"{% for key, value in field.field.widget.attrs.items %} {{ key }}="{{ value }}"{% endfor %}></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
