{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - Change password{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
    {% add_crumb 'Change password' 'change_password' %}
{% endblock %}

{% block content %}

<div class="contentBox w500">
    <div class="contentHeadline">Change Password</div>
    <div class="content">
        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
             <table class="formTable">
                <tbody>
                    <tr>
                        <th>Old password:</th>
                        <td><input id="id_old_password" name="old_password" pattern=".{8,}" required="None" title="8 characters are required" type="password"></td>
                    </tr>
                    <tr>
                        <th>New password:</th>
                        <td><input id="id_new_password1" name="new_password1" pattern=".{8,}" required="None" title="8 characters are required" type="password"></td>
                    </tr>
                    <tr>
                        <th>New password again:</th>
                        <td><input id="id_new_password2" name="new_password2" pattern=".{8,}" required="None" title="8 characters are required" type="password"></td>
                    </tr>
                </tbody>
            </table>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}