{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - Recover password{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
    {% add_crumb 'Recover password' 'password_recover' %}
{% endblock %}

{% block content %}

<div class="contentBox w500">
    <div class="contentHeadline">Recover password</div>
    <div class="content">
        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <table class="form_table">
                <tbody>
                    {{ form.as_table }}
                </tbody>
            </table>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
