{% extends "base.html" %}

{% comment %}
context variables:
    captcha
    register_form
    testing_form
{% endcomment %}

{% block body %}

<div id="loginBox">
    <div class="headline">Register</div>
    <div id="registerContainer">
        
        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">

            {% if testing_form %}
                <div class="descriptionBox">
                    {{ testing_form.key.label_tag }}
                </div>

                <div class="formBox">
                    <input class="{% if testing_form.key.errors %} error{% endif %}" type="text" name="key" value="{{ testing_form.key.value|default_if_none:"" }}" id="id_key" required=""/>
                    {{ testing_form.key.errors }}
                </div>
            {% endif %}

            {% for field in register_form %}
                {% if field.name != 'captcha' %}
                    <div class="descriptionBox">
                        {{ field.label_tag }}
                    </div>

                    <div class="formBox">
                        <input class="{% if field.errors %} error{% endif %}" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}" id="{{ field.id_for_label }}"{% if field.field.widget.is_required %} required=""{% endif %} placeholder="{{ field.label }}"/>
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="descriptionBox">
                <img class="captcha" alt="captcha" src="{% url 'captcha-image' captcha %}"><input id="id_captcha_0" type="hidden" value="{{ captcha }}" name="captcha_0">
            </div>

            <div class="formBox">
                <input class="icon_captcha{% if register_form.captcha.errors %} error{% endif %}" type="text" name="captcha_1" value="" id="id_captcha_1" required="">
                {{ register_form.captcha.errors }}
            </div>

            <div class="clear"></div>
            <div class="submitBox">
                <input class="button positive green login" type="submit" value="Register">
                <input type="hidden" name="next" value="{{ request.path }}">
            </div>
        </form>

    </div>
</div>


{% endblock body %}
