{% extends "base.html" %}

{% comment %}
context variables:
    user_form
    profile_form
{% endcomment %}

{% block title %}upTee - Settings{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
{% endblock %}

{% block content %}

<div class="contentBox w600">
    <div class="contentHeadline">User settings</div>
    <div class="content">

        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <table class="formTable">
                <tbody>
                    <tr>
                        <th><label for="name">Name</label></th>
                        <td>
                            <ul>
                                {% for error in user_form.first_name.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                            {{ user_form.first_name }}
                        </td>
                        <td>
                            {{ profile_form.publish_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ user_form.email.label_tag }}</th>
                        <td>{{ user_form.email.errors }}{{ user_form.email }}</td>
                        <td>This email won't be published!</td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.ingame_name.label_tag }}</th>
                        <td>{{ profile_form.ingame_name.errors }}{{ profile_form.ingame_name }}</td>
                        <td>
                            {{ profile_form.publish_ingame_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.website.label_tag }}</th>
                        <td>{{ profile_form.website.errors }}{{ profile_form.website }}</td>
                        <td>
                            {{ profile_form.publish_website }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.contact.label_tag }}</th>
                        <td>{{ profile_form.contact.errors }}{{ profile_form.contact }}</td>
                        <td>
                            {{ profile_form.publish_contact }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.fav_mod.label_tag }}</th>
                        <td>{{ profile_form.fav_mod.errors }}{{ profile_form.fav_mod }}</td>
                        <td>
                            {{ profile_form.publish_fav_mod }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.fav_map.label_tag }}</th>
                        <td>{{ profile_form.fav_map.errors }}{{ profile_form.fav_map }}</td>
                        <td>
                            {{ profile_form.publish_fav_map }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.gender.label_tag }}</th>
                        <td>{{ profile_form.gender.errors }}{{ profile_form.gender }}</td>
                        <td>
                            {{ profile_form.publish_gender }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.birthday.label_tag }}</th>
                        <td>{{ profile_form.birthday.errors }}{{ profile_form.birthday }} Your age will be shown like this: 22-27 | (YYYY-MM-DD)</td>
                        <td>
                            {{ profile_form.publish_birthday }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.template.label_tag }}</th>
                        <td>{{ profile_form.template.errors }}{{ profile_form.template }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="contentBox w500">
    <div class="contentHeadline">Change Password</div>
    <div class="content">
        <a href="{% url 'change_password' %}">Change password</a>
    </div>
</div>

{% if settings.TESTING_STATE and user.is_staff %}
    <div class="contentBox w500">
        <div class="contentHeadline">Generate testing keys</div>
        <div class="content">
            <a href="{% url 'generate_testing_keys' %}">Generate testing keys</a>
        </div>
    </div>
{% endif %}


{% endblock %}
