{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - Recover Username{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Settings' 'settings' %}
    {% add_crumb 'Recover Password' 'username_recover' %}
{% endblock %}

{% block content %}

{% load captcha_tag %}
{% captcha_tag %}

<div class="contentBox">
    <div class="contentHeadline">Recover Username</div>
    <div class="content">
        <p>Insert your email to recover your username.</p>
        <form method="post" action="{{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <table class="formTable">
                <tbody>
                    {% for field in form %}
                        {% if field.name != 'captcha' %}
                        <tr>
                            <th>{{ field.label }}:</th>
                            <td>{{ field.errors }}<input class="{% if field.errors %} error{% endif %}" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}" id="{{ field.id_for_label }}"{% for key, value in field.field.widget.attrs.items %} {{ key }}="{{ value }}"{% endfor %}></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th>
                            <img class="captcha" alt="captcha" src="{% url 'captcha-image' captcha_key %}"><input id="id_captcha_0" type="hidden" value="{{ captcha_key }}" name="captcha_0">
                        </th>
                        <td>
                            {{ form.captcha.errors }}<input class="icon_captcha{% if form.captcha.errors %} error{% endif %}" type="text" name="captcha_1" value="" id="id_captcha_1" required="">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
