{% extends "base.html" %}

{% load possessive %}
{% load split %}
{% load get_option %}
{% load gravatar %}

{% comment %}
context variables:
    user_profile
{% endcomment %}

{% block title %}upTee - {{ user_profile.username|possessive }} profile{% endblock title %}

{% block content %}


<div class="content_box w290 minimal">
    <div class="content_headline minimal">{{ user_profile.username }}</div>
    <div class="content">
    <img class="userProfile" src="{% gravatar_for_user user_profile 250 %}">
    <p class="joinLable"><i class="icon-calendar"></i> Joined on {{ user_profile.date_joined|date:"N t, Y" }}</p>
</div>
</div>

<div class="content_box w450 minimal">
    <div class="content_headline minimal">Infos</div>
    <div class="content">
         <table class="bordered">
            <tbody>
                {% if user_profile.first_name %}
                    {% if user_profile.profile.publish_name or user.is_authenticated %}
                    <tr>
                        <th>Name:</th>
                        <td>{{ user_profile.first_name }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.ingame_name %}
                    {% if user_profile.profile.publish_ingame_name or user.is_authenticated %}
                    <tr>
                        <th>Ingame name:</th>
                        <td>{{ user_profile.profile.ingame_name }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.website %}
                    {% if user_profile.profile.publish_website or user.is_authenticated %}
                    <tr>
                        <th>Website:</th>
                        <td><a href="{{ user_profile.profile.website }}" target="_blank">{{ user_profile.profile.website }}</a></td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.contact %}
                    {% if user_profile.profile.publish_contact or user.is_authenticated %}
                    <tr>
                        <th>Contact:</th>
                        <td>{{ user_profile.profile.contact }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.fav_mod %}
                    {% if user_profile.profile.publish_fav_mod or user.is_authenticated %}
                    <tr>
                        <th>Favorite mod:</th>
                        <td>{{ user_profile.profile.fav_mod }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.fav_map %}
                    {% if user_profile.profile.publish_fav_map or user.is_authenticated %}
                    <tr>
                        <th>Favorite map:</th>
                        <td>{{ user_profile.profile.fav_map }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.gender != 1 %}
                    {% if user_profile.profile.publish_gender or user.is_authenticated %}
                    <tr>
                        <th>Gender:</th>
                        <td>{{ user_profile.profile.get_gender_display }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if user_profile.profile.birthday %}
                    {% if user_profile.profile.publish_birthday or user.is_authenticated %}
                    <tr>
                        <th>Age:</th>
                        <td>{{ user_profile.profile.get_age }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <th>Servers:</th>
                    <td>{{ user_profile.profile.active_servers|length }}</td>
                </tr>
                <tr>
                    <th>Online servers:</th>
                    <td>{{ user_profile.profile.online_servers|length }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        {% if user.is_authenticated and user == user_profile %}
            <p><a class="link_button" href="{% url 'settings' %}">Edit profile</a></p>
        {% endif %}
    </div>
</div>



{% endblock %}
