<!DOCTYPE html>
<html>

    {% comment %}

    HEAD

    {% endcomment %}

    <head>
        <meta charset="utf-8">
        <title>{% block title %}upTee{% endblock title %}</title>

        <meta name="description" content="">
        <meta name="author" content="Fisico">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_URL }}simpleflat/img/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}simpleflat/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/style.css" type="text/css">
        {% if not user.is_authenticated %}
            <link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/style_not_authenticated.css" type="text/css">
        {% endif %}
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/forms.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/size.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/font-awesome.min.css" type="text/css"><!-- Font Awesome Icons -->

        <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cookie.min.js"></script>
        <script src="{{ STATIC_URL }}simpleflat/js/uptee.js"></script>
        {% block extra_head %}{% endblock extra_head %}
        {% if settings.ANALYTICS_ID %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ settings.ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>

    {% comment %}

    END HEAD
        
    {% endcomment %}

    <body>

        {% comment %}

        LOAD SECTION

        {% endcomment %}

        {% load get_option %}
        {% load gravatar %}
        {% load menu %}

        {% comment %}

        END LOAD SECTION

        {% endcomment %}

        <div id="header">
            <div class="logo"></div>
        </div>

        {% comment %}

        BLOCK body
        Contains everytion but the header

        {% endcomment %}

        {% block body %}

        {% comment %}

        MENUFRAME
        contains a side menu which can be overwritten in the menu block

        {% endcomment %}


        <ul id="menu">

            {% for server in user_server_list %}

            <!-- url definitions -->
            {% url 'server_detail' server.id as url_info %}
            {% url 'upload_map' server.id as url_upload_map %}
            {% url 'server_edit' server.id as url_edit_settings %}
            {% url 'server_edit_votes' server.id as url_edit_votes %}
            {% url 'server_edit_rcon_commands' server.id as url_edit_rcon_commands %}
            {% url 'server_tunes' server.id as url_edit_tunes %}
            {% url 'server_votes' server.id as url_votes %}
            {% url 'server_change_mod' server.id as url_change_mod %}
            {% url 'server_moderators' server.id as url_moderators %}
            {% url 'server_console' server.id as url_console %}
            <!-- end url definitions -->

            <li class="menu_head" data-serverid="{{ server.id }}"> <p><i class="icon-chevron-right"></i> {{ server|get_option:'sv_name' }}<p>
                <div class="statusIcon {% if server.is_online %}on{% else %}off{% endif %}"></div> 
                
                <ul style="display: none;">
                    <li class="entry{% current request url_info %}"><a href="{{ url_info }}"><i class="icon-info-sign"></i> Info</a></li>
                    {% if server.config_votes.all %}
                        <li class="entry{% current request url_votes %}"><a href="{{ url_votes }}"><i class="icon-question-sign"></i> Votes</a></li>
                    {% endif %}
                    <li class="entry{% current request url_upload_map %}"><a href="{{ url_upload_map }}"><i class="icon-upload-alt"></i> Upload Map</a></li>
                    <li class="entry{% current request url_edit_settings %}"><a href="{{ url_edit_settings }}"><i class="icon-pencil"></i> Edit Settings</a></li>
                    <li class="entry{% current request url_edit_votes %}"><a href="{{ url_edit_votes }}">Edit Votes</a></li>
                    {% if server.config_available_rconcommands.all %}
                        <li class="entry{% current request url_edit_rcon_commands %}"><a href="{{ url_edit_rcon_commands }}">Commands</a></li>
                    {% endif %}
                    {% if server.config_tunes.all %}
                        <li class="entry{% current request url_edit_tunes %}"><a href="{{ url_edit_tunes }}">Edit Tunings</a></li>
                    {% endif %}
                    {% if server.is_online %}
                        <li class="entry{% current request url_console %}"><a href="{{ url_console }}"><i class="icon-terminal"></i> Terminal</a></li>
                    {% endif %}
                    <li class="entry{% current request url_change_mod %}"><a href="{{ url_change_mod }}">Change Mod</a></li>
                    <li class="entry{% current request url_moderators %}"><a href="{{ url_moderators }}">Moderators</a></li>
                </ul>
            </li>

            {% endfor %}

        </ul>


        {% comment %}

        END MENUFRAME

        {% endcomment %}


        {% comment %}

        HEADERMENU
        contains basic links. Is on the left side of the header.

        {% endcomment %}

        <div id="headermenu">
            <ul class="left">
                <li><a href="{% url 'home' %}">News</a></li>
                <li><a href="#">Server List</a></li>
                <li><a href="#">User</a></li>
            </ul>
        </div>

        {% comment %}

        END HEADERMENU

        {% endcomment %}


        {% comment %}

        USERMENU
        contains user specific links. Is on the right side of the header.

        {% endcomment %}

        <div id="usermenu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'user' user.id %}"><i class="icon-user"></i> {{ user.username }}</a></li>
                <li><a href="#"><img class="gravatar" src="{% gravatar_for_user user 40 %}"></a></li>
                <li><a href="{% url 'settings' %}"><i class="icon-cog"></i> Settings</a></li>
                <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout!</a></li>
                {% else %}
                <li><a href="{% url 'register' %}"><i class="icon-signin"></i> Register</a></li>
                <li><a href="{% url 'login' %}"><i class="icon-signin"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>

        {% comment %}

        END USERMENU

        {% endcomment %}


        {% comment %}

        BREADCRUMBS
        block responsible for breadcrumbs. Add breadcrumbs for every page using the breadcrumb block.

        {% endcomment %}

       

        {% comment %}

        END BREADCRUMBS

        {% endcomment %}


        {% comment %}

        CONTENT
        The actual content. Use the block content to fill in the data for every page.

        {% endcomment %}

        <div id="content_container">

            {% include "messages.html" %}

            <div id="breadcrumb">
                <div class="icon"></div>
                {% block breadcrumb %}
                    {% load breadcrumb_tags %}
                    {% add_crumb 'Home' 'home' %}
                {% endblock %}
                <div class="text">{% render_breadcrumbs %}</div> <!-- render breadcrumbs. Only call this here! -->
            </div>

            <div class="spacer"></div>

           {% block content %}{% endblock content %}
           

        </div>

        {% comment %}

        END CONTENT

        {% endcomment %}

        {% endblock body %}

        {% comment %}

        END BLOCK body

        {% endcomment %}

    </body>
</html>
