#login_container input[type=text] {
        background: #fff url('../icons/person.png') no-repeat 5px center;
        min-height: 25px;
        width: 160px;
        padding: 5px;
        padding-left: 30px;
        margin-left: 30px;
        border: 1px solid #d5d5d5;
        box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.075);
        -webkit-transition: all .7s;
        -ms-transition: all .7s;
        transition: all .7s;
}

   #login_container input[type=text]:focus {
        border: 1px solid #009cff;
        width: 210px;
    }



#login_container input[type=password] {
        background: #fff url('../icons/lock.png') no-repeat 5px center;
        background-color: #fff;
        min-height: 25px;
        width: 160px;
        padding: 5px;
        padding-left: 30px;
        margin-left: 34px;
        border: 1px solid #d5d5d5;
        box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.075);
        -webkit-transition: all .7s;
        -ms-transition: all .7s;
        transition: all .7s;
}

   #login_container input[type=password]:focus {
        border: 1px solid #009cff;
        width: 210px;
    }


#login_container input[type=submit]{
    background: url('../img/buttons.png') repeat-x;
    background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    width: 100px;
    border: 1px solid #acacac;
    cursor: pointer;
}

    #login_container input[type=submit]:hover{
        background-position: 0 -30px;
        border: 1px solid #7eb4ea;
    }

    #login_container input[type=submit]:active{
        background-position: 0 -60px;
        border: 1px solid #569de5;
    }