/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
}

.clear {
    clear: both;
}


a:visited, a:link {

}

html, body {
    background: url('../img/noise.png');
    background-color: #EEEEEE;
    font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
} 

#header {
	background: url('../img/pattern_gray.png');
	width: 100%;
	height: 80px;
}

#logo {
	background: url('../img/logo_75.png');
	height: 75px;
	width: 345px;
	margin-left: 100px;
}

#server_menu {
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/pattern_gray.png');
	width: 100px;
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */ 
	height:100%; /* Mindesthöhe für den IE */ 
	outline: 0px solid green;
}

	#server_menu_frame {
		margin-top: 80px;
	}

	#server_menu_frame .entry_user {
		background: rgba(255,255,255,0.1);
		width:100%;
		height:120px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}

		#server_menu_frame .entry_user:hover {
			background: rgba(255,255,255,0.2);
		}

		#server_menu_frame .entry_user:active {
			background: rgba(255,255,255,0.25);
		}


		#server_menu_frame .entry_user .avatar {
			background: url('../img/avatar.png');
			background-size: 60px 60px;
			margin-top: 10px;
			margin-left: 20px;
			width: 60px;
			height: 60px;
		}

		#server_menu_frame .entry_user .underline {
			height: 15px;
			margin-top: 10px;
			margin-left: 5px;
			margin-right: 5px;
			color: #fff;
			text-align: center; 

		}


	#server_menu_frame .entry {
		background: rgba(255,255,255,0.1);
		width:100%;
		height:65px;
		padding-top: 15px;
		border-bottom: 1px solid #fff;
	}


	#server_menu_frame .entry .icon {
			background: rgba(255,255,255,0.5);
			width:40px;
			height:30px;
			margin-left: auto;
			margin-right: auto;
		}

		#server_menu_frame .entry .underline {
			height: 15px;
			margin-top: 5px;
			margin-left: 5px;
			margin-right: 5px;
			color: #fff;
			text-align: center; 
		}

		#server_menu_frame .entry:hover {
			background: rgba(255,255,255,0.2);
		}

		#server_menu_frame .entry:active {
			background: rgba(255,255,255,0.25);
		}

#option_menu_frame {
	position: absolute;
	top: 80px;
	left: 100px;
	width: 200px;
	border: 1px solid green;
}

#option_menu_frame .placeholder {
	width: 100%;
	border: 1px solid red;
	height: 120px;
	background: #fff;
}

#option_menu_frame .entry {
	width: 90%;
	border: 1px solid red;
	height: 50px;
	background: #fff;
}