/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
}

.clear {
    clear: both;
}


a:visited, a:link {

}

.bold {
    font-weight: bold;
}

html, body {
    background: #fff;
    height: 100%;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 13px !important;
    color: #000;
} 

#header {
    background: #378ce1;
    width: 100%;
    height: 50px;
}

#headermenu {
    position: absolute;
    top: 0;
    left: 250px;
}

#usermenu {
    position: absolute;
    top: 0;
    right: 25px;
}

#headermenu ul, #usermenu ul{
    list-style-type: none;
    height: 50px;
    margin: auto;
}

#headermenu li, #usermenu li{
    float: left;
    height: 50px;
    background: none;
    display: block;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#usermenu li form{
    margin-top: 15px;
    padding: 0 20px 0 20px;
    color: #fff;
}

#headermenu li a, #usermenu li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    display: block;
    color: #fff;
    text-align: center;
}

#headermenu li a:hover, #usermenu li a:hover{
    background: rgba(0,0,0,0.1);
}


.logo {
    background: url('../img/logo_75.png') no-repeat 3px 5px;
    background-size: auto 40px;
    height: 40px;
    width: 180px;
}

#userbox {
    background: #eee;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 50px;
}

#menu {
    background: #eee;
    width: 250px;
    position: absolute;
    left: 0px;
    top: 100px;
    bottom: 0;
    overflow: auto;
}


#menu li {
    display: inline;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid transparent;
}

#menu li:hover{
    background: #dddddd;
    border-bottom: 1px solid #009bff;

}

#menu li a{
    display: block;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

#menu li p{
    font-size: 18px;
    margin-left: 10px;
}

#content_container {
    background: #fff;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 250px;
    right: 0;
    padding: 30px;
    overflow: auto;
}

#breadcrum {
    border-bottom: 1px solid #ccc;
    height: 25px;
    position: absolute;
    top: 90px;
    left: 270px;
    right: 20px;
}

    #breadcrum .icon {
        background: url('../icons/home2.png');
        height: 15px;
        width: 15px;
        margin-top: 7px;
        margin-left: 10px;
        float: left;
    }

    #breadcrum .text {
        margin-left: 10px;
        margin-top: 6px;
        width: 300px;
        float: left;
        color: #555555;
    }


.content_box, .blog_box {
    border: 2px solid #378ce1;
    margin-bottom: 30px;
    float: left;
    margin-right: 50px;
    width: 100%;
}

.content_headline, .blog_headline {
    background: #378ce1;
    display: block;
    padding: 5px 10px 10px 10px;
    font-size: 20px;
    color: #fff;
}

.blog_box .footer{
    background: #eee;
    border-top: 1px solid #bbbbbb;
    padding: 5px;
    padding-left: 10px;
    font-size: 10px;

}

/* -----Custom Box Frames---------------- */
.content_box.gray, .blog_box.gray{
    border: 2px solid #666;
}

.content_headline.gray, .blog_headline.gray{
    background: #666;
}

.content_box.darkgray, .blog_box.darkgray{
    border: 2px solid #333;
}

.content_headline.darkgray, .blog_headline.darkgray{
    background: #333;
}

.content_box.red, .blog_box.red{
    border: 2px solid #e63a3a;
}

.content_headline.red, .blog_headline.red{
    background: #e63a3a;
}

.content_box.green, .blog_box.green{
    border: 2px solid #56af45;
}

.content_headline.green, .blog_headline.green{
    background: #56af45;
}
/* -----END Custom Box Frames---------------- */

.blog_box div.right {
    float: right;
}

.blog_box div.left {
    float: left;
}

.content {
    background: #efefef;
    padding: 10px;
}


/* server info */

.content h1 {
    color: #009bff;
    border-bottom: 1px solid #009bff;
    font-size: 18px;
    padding:0 0 5px 0;
    width: 300px;

}

.content table {
    border-collapse: collapse;
}

.content tr {
    border-bottom: 1px solid #bbbbbb;
    padding-right: 5px;
}

.content td {
    padding: 5px 35px 5px 5px;
}

.content .box {
    float: left;
    margin-right: 50px;
}