/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
}

.clear {
    clear: both;
}


a:visited, a:link {

}

html, body {
    background: url('../img/noise.png');
    background-color: #EEEEEE;
    font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
} 

#header {
	background: url('../img/pattern_gray.png');
	width: 100%;
	height: 80px;
}

#logo {
	background: url('../img/logo_75.png');
	height: 75px;
	width: 345px;
	margin-left: 100px;
}

#server_menu {
	background: url('../img/pattern_gray.png');
	width: 100px;
	outline: 0px solid green;
	float: left;
	position: absolute;
	bottom: 0;
	top: 80px;
	left: 0;
}

	#server_menu_frame {
		border-top: 1px solid #1f1f1f;
	}

	#server_menu_frame .entry_user {
		background: rgba(255,255,255,0.05);
		width:100%;
		height:120px;
		border-top: 1px solid #888888;
		border-bottom: 1px solid #1f1f1f;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(100%,rgba(255,255,255,0.05)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.05) 100%);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.05) 100%);
	}

		#server_menu_frame .entry_user:hover {
			background: rgba(255,255,255,0.1);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.08)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.08) 100%);
			background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.08) 100%);
		}

		#server_menu_frame .entry_user:active {
			background: rgba(0,0,0,0.15);
			box-shadow: 0 1px 10px 0 #000000 inset;
		}

		#server_menu_frame .entry_user .current {
			background: rgba(0,0,0,0.15);
			box-shadow: 0 1px 10px 0 #000000 inset;
		}


		#server_menu_frame .entry_user .avatar {
			background-size: 60px 60px;
			margin-top: 10px;
			margin-left: 20px;
			width: 60px;
			height: 60px;
		}

		#server_menu_frame .entry_user .underline {
			height: 15px;
			margin-top: 10px;
			margin-left: 5px;
			margin-right: 5px;
			color: #fff;
			text-align: center;
		}


	#server_menu_frame .entry {
		background: rgba(255,255,255,0.05);
		width:100%;
		height:65px;
		padding-top: 15px;
		border-top: 1px solid #888888;
		border-bottom: 1px solid #1f1f1f;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(100%,rgba(255,255,255,0.05)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.05) 100%);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.05) 100%);
		
	}


	#server_menu_frame .entry .icon {
			background: rgba(255,255,255,0.5);
			width:40px;
			height:30px;
			margin-left: auto;
			margin-right: auto;
		}

		#server_menu_frame .entry .underline {
			height: 15px;
			margin-top: 5px;
			margin-left: 5px;
			margin-right: 5px;
			color: #fff;
			text-align: center; 
			font-size: 10px;
		}

		#server_menu_frame .entry:hover {
			background: rgba(255,255,255,0.1);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.08)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.08) 100%);
			background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.08) 100%);
		}

		#server_menu_frame .entry:active {
			background: rgba(0,0,0,0.15);
			box-shadow: 0 1px 10px 0 #000000 inset;
		}

		#server_menu_frame .entry .current {
			background: rgba(0,0,0,0.15);
			box-shadow: 0 1px 10px 0 #000000 inset;
		}

#option_menu_frame {
	background: url('../img/noise.png');
	background-color: #EEEEEE;
	width: 200px;
	position: absolute;
	left: 100px;
	top: 80px;
	bottom: 0;
}

#option_menu_frame .placeholder {
	width: 201px;
	height: 122px;
	border-bottom: 1px solid #bbbbbb;
}

#option_menu_frame .entry {
	width: 200px;
	border-bottom: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	height: 40px;
	background: rgb(252,255,244);
	background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(220,220,220,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(220,220,220,1)));
	background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%);
}


	#option_menu_frame .entry:hover {
		background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(210,210,210,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(210,210,210,1)));
		background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(210,210,210,1) 100%);
	}

	#option_menu_frame .entry:active {
		background: url('../img/pattern_light.png');
		border-right: none;
		border-left: 5px solid #2f2f2f;
		width: 195px;
	}

	#option_menu_frame .entry .current{
		background: url('../img/pattern_light.png');
		border-right: none;
		border-left: 5px solid #2f2f2f;
		width: 195px;
	}


	#option_menu_frame .entry .icon{
		background: rgba(0,0,0,0.1);;
		height: 25px;
		width: 25px;
		margin-top: 7px;
		margin-left: 15px;
		float: left;
	}

	#option_menu_frame .entry .text{
		color: #2f2f2f;
		height: 20px;
		width: 120px;
		margin-top: 11px;
		margin-left: 10px;
		float: left;
	}

#content_container {
	background: url('../img/pattern_light.png');
	border-top: 1px solid #bbbbbb;
	position: absolute;
	top: 202px;
	bottom: 0;
	left: 301px;
	right: 0;
}

#breadcrum {
	border-top: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;;
	height: 25px;
	position: absolute;
	top: 176px;
	left:300px;
	right: 0;
}

	#breadcrum .icon {
		background: #000;
		height: 15px;
		width: 15px;
		margin-top: 5px;
		margin-left: 10px;
		float: left;
	}

	#breadcrum .text {
		margin-left: 10px;
		margin-top: 3px;
		width: 300px;
		float: left;
		color: #555555;
	}


#button_container {
	border: 0px solid red;
	position: absolute;
	right: 0;
	top: 82px;
	height: 90px;
	max-width: 800px;
}

#button_container .button {
	border: 1px solid green;
	float: right;
	width: 100px;
	height: 90px;
	margin-left: 10px;
}

	#button_container .button:hover {
		
	}

	#button_container .button:active {
		
	}

	#button_container .button .current {
		
	}