{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p class="error">The combination of username and password is wrong or your account is not activated yet.</p>
{% endif %}

<form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
    <p>
        <label for="username">Username:</label><input type="text" name="username" value="" id="username" required="" />
        <label for="password">Password:</label><input type="password" name="password" value="" id="password" required="" />
        <input class="button positive" type="submit" value="Login" /><input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>

{% endblock %}
