{% extends "base.html" %}

{% load pagination_tags %}
{% load gravatar %}

{% comment %}
context variables:
    users
    paginator
{% endcomment %}

{% block title %}upTee - Users{% endblock title %}

{% block link_list %}

<div id="link_list">
    {% autopaginate users %}
    {% paginate %}
</div>

{% endblock link_list %}

{% block content %}

{% autopaginate users %}

<div class="head">
    <h2>Users</h2>
</div>
<div class="body">
    <table class="userlist">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Servers</th>
                <th>Online servers</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><img class="gravatar" src="{% gravatar_for_user user 20 %}"> <a href="{% url 'user' user.id %}">{{ user.username }}</a></td>
                    <td><a href="{% url 'user_server_list' user.username %}">{{ user.profile.active_servers|length }}</a></td>
                    <td><a href="{% url 'user_server_list' user.username %}type:online">{{ user.profile.online_servers|length }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
