{% extends "base.html" %}

{% load possessive %}
{% load split %}
{% load get_option %}
{% load gravatar %}

{% comment %}
context variables:
    user_profile
{% endcomment %}

{% block title %}upTee - {{ user_profile.username|possessive }} profile{% endblock title %}

{% block content %}

<div class="head">
    <h2>{{ user_profile.username|possessive }} profile</h2>
</div>
<img class="avatar" src="{% gravatar_for_user user_profile %}">
<div class="body">
    <table class="tablelist">
        <tbody>
            {% if user_profile.first_name %}
                {% if user_profile.profile.publish_name or user.is_authenticated %}
                <tr>
                    <th>Name:</th>
                    <td>{{ user_profile.first_name }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.ingame_name %}
                {% if user_profile.profile.publish_ingame_name or user.is_authenticated %}
                <tr>
                    <th>Ingame name:</th>
                    <td>{{ user_profile.profile.ingame_name }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.website %}
                {% if user_profile.profile.publish_website or user.is_authenticated %}
                <tr>
                    <th>Website:</th>
                    <td><a href="{{ user_profile.profile.website }}" target="_blank">{{ user_profile.profile.website }}</a></td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.contact %}
                {% if user_profile.profile.publish_contact or user.is_authenticated %}
                <tr>
                    <th>Contact:</th>
                    <td>{{ user_profile.profile.contact }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.fav_mod %}
                {% if user_profile.profile.publish_fav_mod or user.is_authenticated %}
                <tr>
                    <th>Favorite mod:</th>
                    <td>{{ user_profile.profile.fav_mod }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.fav_map %}
                {% if user_profile.profile.publish_fav_map or user.is_authenticated %}
                <tr>
                    <th>Favorite map:</th>
                    <td>{{ user_profile.profile.fav_map }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.gender != 1 %}
                {% if user_profile.profile.publish_gender or user.is_authenticated %}
                <tr>
                    <th>Gender:</th>
                    <td>{{ user_profile.profile.get_gender_display }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if user_profile.profile.birthday %}
                {% if user_profile.profile.publish_birthday or user.is_authenticated %}
                <tr>
                    <th>Age:</th>
                    <td>{{ user_profile.profile.get_age }}</td>
                </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th>Servers:</th>
                <td>{{ user_profile.profile.active_servers|length }}</td>
            </tr>
            <tr>
                <th>Online servers:</th>
                <td>{{ user_profile.profile.online_servers|length }}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
Serverlist:</br>

{% for server in user_profile.profile.active_servers %}

<div class="server_list_entry">
    <div class="server_list_headline {% if server.is_online %}on{% else %}off{% endif %}">
        <p>{{ server|get_option:'sv_name' }}</p>
        {% if user.is_authenticated and server.map_exists %}{% if user.is_staff or server.owner == user or server in user_moderated_servers_restart %}
        <form method="post" action="{% url 'start_stop_server' server.id %}?next={{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <input class="button_serverlist" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server">
        </form>
        <div class="clear"> </div>
    {% endif %}{% endif %} 
    </div>
    <div class="server_list_content">
        {% if server.is_online %}<div class="server_status_update" data-serverid="{{ server.id }}">{% endif %}
            {% if not username %}<p>Owner: {% if server.owner == request.user %}You{% else %}{{ server.owner.username }}{% endif %}</p>{% endif %}
            <p>Mod: {{ server.mod.title }}</p>
            {% with server_info_obj=server.info %}
                <p>Gametype: <span data-info="gametype">{% if server_info_obj %}{{ server_info_obj.server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></p>
                <p>Map: <span data-info="map">{% if server_info_obj %}{{ server_info_obj.server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% if not server.map_exists %} (<span class="config_error">does not exist!</span>){% endif %}{% endif %}</span></p>
                <p data-info="slots">Slots: <span data-info="slots">{% if server_info_obj %}{{ server_info_obj.server_info.clients|length }}/{{ server_info_obj.server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></p>
                <p>Password: <span data-info="password">{% if server_info_obj %}{% if server_info_obj.password %}Yes{% else %}No{% endif %}{% else %}{% if server|get_option:'password' %}Yes{% else %}No{% endif %}{% endif %}</span></p>
                {% if server.is_online %}<p>Address: {{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</p>{% endif %}
                <p><a href="{% url 'server_detail' server.id %}">{% if server.owner == request.user or server in user_moderated_servers %}Info/Edit{% else %}Info{% endif %}</a></p>
                <div class="hide_mouseover">
                    <div class="mouseover_overlay">
                        {% include "scoreboard.html" %}
                    </div>
                </div>
            {% endwith %}
        {% if server.is_online %}</div>{% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}
