.signup_box input[type=text] {
    background: #dcdcdc url('../img/person.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

.signup_box input[type=text]:focus {
    background: #fff url('../img/person.png') no-repeat 5px center;
    width: 100px;
}

.signup_box input[type=password] {
    background: #dcdcdc url('../img/lock.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

.signup_box input[type=password]:focus {
    background: #fff url('../img/lock.png') no-repeat 5px center;
    width: 100px;
}

.signup_box input[type=submit] {
    background: url('../img/submenu_pattern.png') repeat-x;
    margin-top: 20px;
}
