/* general input fields */

input[type=text] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

    input[type=text]:focus {
        width: 200px;
        background-color: #fff;
        border: solid 1px #009bff;
    }

input[type=password] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

    input[type=password]:focus {
        width: 200px;
        background-color: #fff;
        border: solid 1px #009bff;
    }

input[type=email] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

    input[type=email]:focus {
        width: 200px;
        background-color: #fff;
        border: solid 1px #009bff;
    }

input[type=submit] {
    background: url('../img/menu_pattern.png') repeat-x;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 1px 1px #f7f7f7;
    box-shadow: inset 0 0 1px 1px #f7f7f7;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
}

    input[type=submit]:hover {
        background: #d8d8d8;
        color: gray;
        cursor: pointer;
        -webkit-box-shadow: inset 0 0 1px 1px #ebebeb;
        box-shadow: inset 0 0 1px 1px #ebebeb;
    }

    input[type=submit]:active {
        background: url('../img/menu_pattern_hover.png') repeat-x;
        -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
        box-shadow: inset 0 0 1px 1px #e3e3e3;
        color: #000;
        width: 100px;
    }

input[type=checkbox] {
    display: none;
}

input[type=checkbox]
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 15px;
    width: 15px;
    display: inline-block;
}

    input[type=checkbox]
        + label.checkbox:hover {
            background: url('../img/checkbox.png') no-repeat;
            background-position:0 -15px;
            height: 15px;
            width: 15px;
        }


input[type=checkbox]:checked
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -30px;
    height: 15px;
    width: 15px;
}

    input[type=checkbox]:checked
    + label.checkbox:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -45px;
        height: 15px;
        width: 15px;
    }


input[type=radio] {
    display: none;
}

input[type=radio]
+ label.radio {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 15px;
    width: 15px;
    display: inline-block;
}

    input[type=radio]
        + label.radio:hover {
            background: url('../img/checkbox.png') no-repeat;
            background-position:0 -15px;
            height: 15px;
            width: 15px;
        }


input[type=radio]:checked
+ label.radio {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -60px;
    height: 15px;
    width: 15px;
}

    input[type=radio]:checked
    + label.radio:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -75px;
        height: 15px;
        width: 15px;
    }   
 

textarea {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 325px;
    height: 105px;
    max-width: 530px;
    transition: background-color .5s, border .5s;
    -webkit-transition: background-color .5s, border .5s;
    -moz-transition: background-color .5s, border .5s;
}

    textarea:focus {
        background-color: #fff;
        border: solid 1px #009bff;
    }


/* login box */

.signup_box input[type=text] {
    background: #dcdcdc url('../img/person.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

    .signup_box input[type=text]:focus {
        background: #fff url('../img/person.png') no-repeat 5px center;
        width: 100px;
    }

.signup_box input[type=password] {
    background: #dcdcdc url('../img/lock.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

    .signup_box input[type=password]:focus {
        background: #fff url('../img/lock.png') no-repeat 5px center;
        width: 100px;
    }

.signup_box input[type=submit] {
    background: url('../img/menu_pattern.png') repeat-x;
    margin-top: 20px;
}

/* from table */

.form_table { 
    border-collapse: separate;
    border-spacing:20px;
}

    .form_table tbody {
    }

    .form_table td {
        text-align: left;  
    }

    .form_table th {
        text-align: right;
    }

    .form_table tr  {
        text-align: right;
        margin-top: 10px;
    }
