input[type=text] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=text]:focus {
    width: 200px;
    background-color: #fff;
    border: solid 1px #009bff;
}

input[type=password] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=password]:focus {
    width: 200px;
    background-color: #fff;
    border: solid 1px #009bff;
}

input[type=email] {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 200px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=email]:focus {
    width: 200px;
    background-color: #fff;
    border: solid 1px #009bff;
}

input[type=submit] {
    background: url('../img/menu_pattern.png') repeat-x;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 1px 1px #f7f7f7;
    box-shadow: inset 0 0 1px 1px #f7f7f7;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
}

input[type=submit]:hover {
    background: #d8d8d8;
    color: gray;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 1px 1px #ebebeb;
    box-shadow: inset 0 0 1px 1px #ebebeb;
}

input[type=submit]:active {
    background: url('../img/menu_pattern_hover.png') repeat-x;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
    width: 100px;
}


textarea {
    background: #dcdcdc;
    border: solid 1px #969696;
    padding: 5px;
    width: 325px;
    height: 105px;
    min-width: 530px;
    transition: background-color .5s, border .5s;
    -webkit-transition: background-color .5s, border .5s;
    -moz-transition: background-color .5s, border .5s;
}

textarea:focus {
    background-color: #fff;
    border: solid 1px #009bff;
}



.signup_box input[type=text] {
    background: #dcdcdc url('../img/person.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

.signup_box input[type=text]:focus {
    width: 100px;
}

.signup_box input[type=password] {
    background: #dcdcdc url('../img/lock.png') no-repeat 5px center;
    padding: 5px 10px 5px 30px;
    width: 30px;
}

.signup_box input[type=password]:focus {
    width: 100px;
}

.signup_box input[type=submit] {
    background: url('../img/menu_pattern.png') repeat-x;
    margin-top: 20px;
}