* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both
}

a:visited, a:link {
    color: grey;
}

body {
    background-image: url('../img/noise.png');
    background-color: #EEEEEE;
    font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
    font-size: 14px;
} 

#wrapper{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#user_bar {
    background-image: url('../img/submenu_pattern.png');
    padding: 3px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255) inset;
}

.user_bar_entry {
    float: right;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 10px;
}

.user_bar_entry.settings {
    background: url('../img/gear.png') no-repeat 18px 3px;
    padding-left: 33px;
}


#header_box {
    margin-top: 20px;
}

#header {
    background-image: url('../img/logo.png');
    width: 98px;
    height: 48px;
}

#menu_box {
    background-image: url('../img/menu_pattern.png');
    height: 35px;
    margin-top: 20px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255) inset;
}

#menu {
    padding-top: 8px;
}

#menu li {
    display: inline;
}

#menu li a {
    padding: 9px 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #cacaca;
    text-decoration: none;
}

#menu li a:hover {
    background-image: url('../img/menu_pattern_hover.png');
}

.notification {
    border: 1px solid;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 745px;
    padding: 10px 10px 10px 35px;
    -webkit-box-shadow:  2px 2px 10px 0px rgba(150, 150, 150, 255);
    box-shadow:  2px 2px 10px 0px rgba(150, 150, 150, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.notification_close {
   background: url('../img/close_icon.png') no-repeat center;
   height: 15px;
   width: 15px;
   float: right;
   opacity: 0.5;
}

.notification_close:hover {
    opacity: 1.0;
    cursor: pointer;
}

.notification.info {
    background: url('../img/info.png') no-repeat 10px center, url('../img/not_blue.png') repeat-x;
    color: #034e96;
}

.notification.success {
    background: url('../img/sucess.png') no-repeat 10px center, url('../img/not_green.png') repeat-x;
    color: #4f8a14;
}

.notification.warning {
    background: url('../img/warning.png') no-repeat 10px, url('../img/not_yellow.png') repeat-x;
    color: #a06011;
}

.notification.error {
    background: url('../img/error.png') no-repeat 10px center, url('../img/not_red.png') repeat-x;
    color: #d4000b;
}



#content_box {
    width: 750px;
    float: left;
    margin-top: 20px;
    padding: 10px;
    background: rgba(244, 244, 244, 255);
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255) inset;
}

#sidebar_box {
    float: right;
    width: 200px;
}

.sidebar_entry {
    padding: 10px;
    margin-top: 20px;
    width: 178px;
    background: rgba(244, 244, 244, 255);
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255) inset;
}

.server_status{
    margin-bottom: 20px;
}

.server_status_headline{
    height: 25px;
    padding-left: 20px;
    font-size: 15px;
}

.server_status_headline.off{
    background: url('../img/red_status.png') no-repeat 0 3px;
}

.server_status_headline.on{
    background: url('../img/green_status.png') no-repeat 0 3px;
}

.server_status_info{
    padding-left: 40px;
    font-size: 10px;
    color: gray;
}



#footer_box {
    padding: 5px;
    margin-top: 20px;
    border-top: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
    color: gray;
    font-size: 11px;
}

#footer_left {
    float: left;
    width: 330px;
    min-height: 10px;
}

#footer_center {
    float: left;
    width: 330px;
    text-align:center;
    min-height: 10px;
}

#footer_right {
    float: left;
    width: 330px;
    text-align:right;
    min-height: 10px;
}

.cycle {
    float: right;
}

div .cycle .django {
    float: right;
    left: 30px !important;
}

div .cycle .python {
    float: right;
    left: 20px !important;
}

.form_table { 
    border-collapse: separate;
    border-spacing:20px;
}

.form_table tbody {
}

.form_table td {
    text-align: left;  
}

.form_table th {
    text-align: right;
}

.form_table tr  {
    text-align: right;
    margin-top: 10px;
}


