/* global */
* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both
}

a:visited, a:link {
    color: #808080;
}

body {
    background: url('../img/noise.png');
    background-color: #EEEEEE;
    font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
    font-size: 12px;
} 


/* others */
/* ribbon */

#ribbon {
    background: url('../img/ribbon_alpha.png') no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    height: 105px;
    width: 107px;
}

/* wrapper */

#wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/* userbar */

#user_bar {
    background: url('../img/menu_pattern.png');
    padding: 3px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px #ffffff, 0px 1px 0px #ffffff inset;
}

.user_bar_entry {
    float: right;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 10px;
}

    .user_bar_entry.settings {
        background: url('../img/gear.png') no-repeat 18px 3px;
        padding-left: 33px;
    }

/* header */

#header_box {
    margin-top: 20px;
}

    #header_box div[data-image=header] {
        background: url('../img/logo_75.png');
        width: 345px;
        height: 75px;
    }

/* menu */

#menu_box {
    background: url('../img/menu_pattern.png');
    height: 35px;
    margin-top: 20px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px #ffffff, 0px 1px 0px #ffffff inset;
}


.menu_entry {
    width: 100px;
    padding: 9px;
    text-align: center;
    border-right: 1px solid #009bff;
    float: left;
}

.menu_entry:hover {
     background: url('../img/menu_pattern_hover.png');
}

/* old
#menu {
    padding-top: 8px;
}

    #menu li {
        display: inline;
    }

        #menu li a {
            padding: 9px 10px;
            border-left: 1px solid;
            border-right: 1px solid;
            border-color: #cacaca;
            text-decoration: none;
        }

            #menu li a:hover {
                background: url('../img/menu_pattern_hover.png');
            }
end old*/

/* notification */

.notification {
    border: 1px solid;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 745px;
    padding: 10px 10px 10px 35px;
    -webkit-box-shadow:  2px 2px 10px 0px rgba(150, 150, 150, 255);
    box-shadow:  2px 2px 10px 0px rgba(150, 150, 150, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .notification.info {
        background: url('../img/info.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 0;
        color: #034e96;
    }

    .notification.success {
        background: url('../img/sucess.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -40px;
        color: #4f8a14;
    }

    .notification.warning {
        background: url('../img/warning.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -80px;
        color: #a06011;
    }

    .notification.error {
        background: url('../img/error.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -120px;
        color: #d4000b;
    }

.notification_close {
   background: url('../img/close_icon.png') no-repeat center;
   height: 15px;
   width: 15px;
   float: right;
   opacity: 0.5;
}

    .notification_close:hover {
        opacity: 1.0;
        cursor: pointer;
    }

/* siedbar */

#sidebar_box {
    float: right;
    width: 200px;
}

.sidebar_entry {
    padding: 10px;
    margin-top: 20px;
    width: 178px;
    background: rgba(244, 244, 244, 255);
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px #ffffff, 0px 1px 0px #ffffff inset;
}

/* content */

#content_box {
    width: 750px;
    float: left;
    margin-top: 20px;
    padding: 10px;
    background: rgba(244, 244, 244, 255);
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px #ffffff, 0px 1px 0px #ffffff inset;
}

/* server status sidebar entry */

.server_status {
}

.server_status_headline {
    height: 25px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: bold; 
    margin-top: -10px;
    margin-left: -10px;
    width: 168px;
    padding-bottom: 1px;
    padding-top: 3px;
}

    .server_status_headline.on {
        background: url('../img/green_status.png') no-repeat 10px 7px, url('../img/serverstatus_on.png') repeat-x;
    }

    .server_status_headline.off {
        background: url('../img/red_status.png') no-repeat 10px 7px, url('../img/serverstatus_off.png') repeat-x;
    }

.server_status_info {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 10px;
    color: gray;
}

.server_status_update div.clients {
    position: fixed;
    visibility: hidden;
}

.server_list_entry {
    border: 1px solid #009bff;
    margin-bottom: 10px;
}

    .server_list_headline {
        height: 25px;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        padding-top: 3px;
    }
    
        .server_list_headline.on {
            background: url('../img/green_status.png') no-repeat 10px 5px, url('../img/serverstatus_on.png') repeat-x;
        }
        
        .server_list_headline.off {
            background: url('../img/red_status.png') no-repeat 10px 5px, url('../img/serverstatus_off.png') repeat-x;
        }

    .server_list_content {
        color: gray;
        text-align: center;
        padding: 5px;
    }

.button_serverlist {
    float: right;
}

.server_detail_headline h2 {
    display: inline;
    color: #009bff;
}

.server_detail_headline {
    color: black;
}


/* content tabmenu */

#tabmenu_box {
    margin-top: 10px;
}

.tab {
   padding: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-right: 5px;
   background: #b3b3b3;
   border: 1px solid #009bff;
   border-bottom: 0;
   float: left;
   color: #000;
}

    .tab:hover {
       background: #009bff;
       border-bottom: 0;
    }

    .tab.current {
       background: #009bff;
       border: 1px solid #009bff;
       border-bottom: 0;
       color: #fff;
    }

.tabmenu_content {
   padding: 10px;
   border: 1px solid #009bff;
}

/* vote delete button */

.delete_vote div.del_button {
   background: url('../img/close_icon.png') no-repeat center;
   height: 15px;
   width: 15px;
   float: right;
   opacity: 0.5;
}

    .delete_vote div.del_button:hover {
       opacity: 1.0;
       cursor: pointer;
    }

/* link list */

#link_list {
    margin: 10px 20px 5px;
}

/* footer */

#footer_box {
    background: url('../img/footer.png') no-repeat;
    padding: 5px;
    margin-top: 20px;
    border-top: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 1px 0px #ffffff inset;
    color: #808080;
    font-size: 11px;
}

#footer_left {
    float: left;
    width: 330px;
    min-height: 10px;
}

#footer_center {
    float: left;
    width: 330px;
    text-align:center;
    min-height: 10px;
}

#footer_right {
    float: left;
    width: 330px;
    text-align:right;
    min-height: 10px;
}

/* footer cycle */

.cycle {
    float: right;
}

div .cycle .django {
    float: right;
    left: 30px !important; /* to override generated inline */
}

div .cycle .python {
    float: right;
    left: 20px !important; /* to override generated inline */
}

div .cycle .nginx {
    float: right;
}

div .cycle .teeworlds {
    float: right;
}
