<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>upTee - Oooops... something went wrong</title>

        <meta name="description" content="">
        <meta name="author" content="Fisico">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="shortcut icon" href="static/simpleblue/img/favicon.ico">
        <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
    </head>
    <body>
        <h1>Temporarily down for maintenance.</h1>
        <h2>We are currently undergoing scheduled maintenance. Sorry for inconvenience.</h2>
        <h3>Please try again in a few minutes.</h3>
    </body>
</html>
