{% load revision %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/TR/html5/">
    <head>
        <title>{% block title %}upTee{% endblock title %}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <meta name="description" content="" />
        <meta name="author" content="Fisico" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <!-- <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> we don't have this yet -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/forms_mod.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/sprites.css" type="text/css" />
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header_box"> 
                <a href="{% url home %}"><div id="header"> </div></a>
            </div>

            <div id="menu_box"> 
                <ul id="tabmenue">
                    {% if user.is_authenticated %}
                    <li><a class="button" href="{% url settings %}">Settings</a></li>
                    <li><a class="button" href="{% url logout %}?next={{ request.path }}">Logout</a></li>
                    {% endif %}
                    <li><a href="{% url server_list %}">Servers</a></li>
                </ul>
            </div>

            {% for message in messages %}
                <p class="notification_{{ message.tags }}">{{ message }}</p>
            {% endfor %}

            <div id="content_box"> 
                {% block content %}{% endblock %}
            </div>

                <div id="sidebar_box">
                    
                    {% if not user.is_authenticated %}
                    <div class="sidebar_entry">
                        <div class="signup_box">
                            <h3>Login:</h3>
                            
                            {% if form.errors %}
                                <p class="error">The combination of username and password is wrong or your account is not activated yet.</p>
                            {% endif %}
        
                                <form action="{% url login %}" method="post">
                                    {% csrf_token %}
                                        <p><label for="username">Username:</label></p><p><input type="text" name="username" value="" id="username" pattern="[\w.@+-]{3,30}" title="30 characters or fewer. Letters, numbers and @/./+/-/_ characters" required="" /></p>
                                        <p><label for="password">Password:</label></p><p><input type="password" name="password" value="" id="password" pattern=".{8,}" title="8 characters are required" required="" /></p>
                                        <p><input class="button" type="submit" value="Login" /><input type="hidden" name="next" value="{{ request.path }}" /></p>
                                </form>
                        </div>
                    </div>
                        
                    <div class="sidebar_entry">
                        <div class="register_box">
                            <a href="{% url register %}"><h3>Register</h3></a>
                        </div>
                    </div>
                    {% else %}
                    <div class="sidebar_entry">
                        <div class="logged_in">
                            <p>You are logged in as <b>{{ user.username }}</b>!</p>
                        </div>
                    </div>

                    {% if user_server_list %}
                    <div class="sidebar_entry">
                        <div class="server_box">
                            {% for server in user_server_list %}
                            <div class="head">
                                <h2>Server mod: <a href="{% url server_detail server.owner.username server.mod.title %}">{{ server.mod.title }}</a> ({% if server.is_online %}started{% else %}stopped{% endif %})</h2>
                            </div>
                            <div class="body">
                                <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
                                    {% csrf_token %}
                                    <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% endif %}
                    
                    <div class="sidebar_entry">
                        <div class="server_status">
                            <div class="server_status_headline_on"> Servername</div>
                            <div class="server_status_info"> 
                               <p>Gametype: ctf</p>
                               <p>Map: cft5</p>
                               <p>Address: 127.0.0.1</p>
                               <p>Players: 12/16</p>
                               <p><a href="#">Edit</a></p>
                            </div>
                        </div>
                        <div class="server_status">
                            <div class="server_status_headline_off"> Servername</div>
                            <div class="server_status_info"> 
                               <p>Gametype: ctf</p>
                               <p>Map: cft5</p>
                               <p>Address: 127.0.0.1</p>
                               <p>Players: 12/16</p>
                               <p><a href="#">Edit</a></p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            <div class="clear"> </div>

            <div id="footer_box"> 
                <div id="footer_left"></div>
                <div id="footer_center">&copy; 2012 Sascha W. / David G. <br \> {% revision %} </div>
                <div id="footer_right">
                    <div class="powered_by">
                        <div class="sprite_nginx"></div>
                    </div>
                </div>
                    <div class="clear"> </div>
            </div>
        </div>
    </body>
</html>
