{% load revision %}{% load split %}{% load get_option %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/TR/html5/">
    <head>
        <title>{% block title %}upTee{% endblock title %}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <meta name="description" content="" />
        <meta name="author" content="Fisico" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <!-- <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> we don't have this yet -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/forms_mod.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/sprites.css" type="text/css" />

        <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
        <script src="{{ STATIC_URL }}js/uptee.js"></script>
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        <div id="wrapper">
            {% if user.is_authenticated %}
            <div id="user_bar">
                <div class="user_bar_entry settings"><a href="{% url settings %}">Settings</a></div>
                <div class="user_bar_entry"><a href="{% url logout %}?next={{ request.path }}">Logout</a></div>
                <div class="user_bar_entry">You are logged in as <b>{{ user.username }}</b>!</div>
                <div class="clear"></div>
            </div>
            {% endif %}

            <div id="header_box"> 
                <a href="{% url home %}"><div id="header"> </div></a>
            </div>

            <div id="menu_box"> 
                <ul id="tabmenue">
                    {% if user.is_authenticated %}
                    {% endif %}
                    <li><a href="{% url server_list %}">Servers</a></li>
                </ul>
            </div>

            <noscript>
                <p class="notification info">Please activate JavaScript to see the website correctly</p>
            </noscript>

            {% for message in messages %}
                <p class="notification {{ message.tags }}">{{ message }}</p>
            {% endfor %}

            <div id="content_box"> 
                {% block content %}{% endblock %}
            </div>

                <div id="sidebar_box">
                    
                    {% if not user.is_authenticated %}
                    <div class="sidebar_entry">
                        <div class="signup_box">
                            <h3>Login:</h3>
                            
                            {% if form.errors %}
                                <p class="error">The combination of username and password is wrong or your account is not activated yet.</p>
                            {% endif %}
        
                                <form action="{% url login %}" method="post">
                                    {% csrf_token %}
                                        <p><label for="username">Username:</label></p><p><input type="text" name="username" value="" id="username" pattern="[\w.@+-]{3,30}" title="30 characters or fewer. Letters, numbers and @/./+/-/_ characters" required="" /></p>
                                        <p><label for="password">Password:</label></p><p><input type="password" name="password" value="" id="password" pattern=".{8,}" title="8 characters are required" required="" /></p>
                                        <p><input class="button" type="submit" value="Login" /><input type="hidden" name="next" value="{{ request.path }}" /></p>
                                </form>
                        </div>
                    </div>
                        
                    <div class="sidebar_entry">
                        <div class="register_box">
                            <a href="{% url register %}"><h3>Register</h3></a>
                        </div>
                    </div>
                     {% endif %}

                    {% if user_server_list %}
                    {% for server in user_server_list %}
                    <div class="sidebar_entry">
                        <div class="server_status">
                            <div class="server_status_headline {% if server.is_online %}on{% else %}off{% endif %}">{{ server|get_option:'sv_name' }}</div>
                            <div class="server_status_info">
                                <p>Mod: {{ server.mod.title }}</p>
                                <p>Gametype: {{ server|get_option:'sv_gametype' }}</p>
                                <p>Map: TODO!</p>
                                <p>Slots: TODO!</p>
                                {% if server.is_online %}<p>Address: {{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</p>{% endif %}
                                <p><a href="{% url server_detail server.owner.username server.mod.title %}">Edit</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}              
                </div>

            <div class="clear"> </div>

            <div id="footer_box"> 
                <div id="footer_left"></div>
                <div id="footer_center">&copy; 2012 Sascha W. / David G. <br \> {% revision %} </div>
                <div id="footer_right">
                    <div class="cycle">
                        <div><a href="http://teeworlds.com"><div sprite="teeworlds" alt="Teeworlds" title="Teeworlds"></div></a></div>
                        <div><a href="https://www.djangoproject.com/"><div sprite="django" alt="django" title="django"></div></a></div>
                        <div><a href="http://www.python.org/"><div sprite="python" alt="Python" title="Python"></div></a></div>
                        <div><a href="http://nginx.org/"><div sprite="nginx" alt="nginx" title="nginx"></div></a></div>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </body>
</html>
