{% extends "base.html" %}

{% load comments %}
{% load gravatar %}

{% block content %}

{% if form.errors %}
    <p>There is something wrong it seems</p>
{% else %}
    <div class="comment_headline"><h2>Preview</h2></div>
    <div class="comment">
        <div class="user">
            <div class="avatar"><img src="{% gravatar_for_user request.user 40 %}"></div>
        </div>
        <div class="entry"><p>{{ form.cleaned_data.comment|safe }}</p></div>
        <div class="clear"></div>
        <div class="footer"></div>
    </div>
{% endif %}
<form method="post" action="{% comment_form_target %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
    {% for field in form %}
        {% if field.is_hidden %}
            <p>{{ field }}</p>
        {% endif %}
        {% if field.name == 'comment' or field.name == 'honeypot' %}
        <div class="form_field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="form-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <div class="form_field">
        <p>
            <input class="button" type="submit" name="submit" value="Post">
            <input class="button" type="submit" name="preview" value="Preview">
        </p>
    </div>
</form>

{% endblock %}
