{% extends "base.html" %}

{% load possessive %}{% load split %}{% load get_option %}

{% comment %}
context variables:
    server_list
    username
    server_type
{% endcomment %}

{% block title %}upTee - {% if username %}{{ username|possessive }} servers{% else %}Server list{% endif %}{% endblock title %}

{% block link_list %}

<div id="link_list">
    <a href="{% if username %}{% url user_server_list request.user.username %}{% else %}{% url server_list %}{% endif %}">All</a>
    |
    <a href="{% if username %}{% url user_server_list request.user.username %}{% else %}{% url server_list %}{% endif %}type:online">Online</a>
    |
    <a href="{% if username %}{% url user_server_list request.user.username %}{% else %}{% url server_list %}{% endif %}type:offline">Offline</a>
</div>

{% endblock link_list %}

{% block content %}

{% for server in server_list %}

<div class="server_list_entry">
    <div class="server_list_headline {% if server.is_online %}on{% else %}off{% endif %}">
        <p>{{ server|get_option:'sv_name' }}</p>
        {% if user.is_authenticated %}{% if user.is_staff or server.owner == user %}
        <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <input class="button_serverlist" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server">
        </form>
        <div class="clear"> </div>
    {% endif %}{% endif %} 
    </div>
    <div class="server_list_content">
        {% if server.is_online %}<div class="server_status_update" data-serverid="{{ server.id }}">{% endif %}
            {% if not username %}<p>Owner: {% if server.owner == request.user %}You{% else %}{{ server.owner.username }}{% endif %}</p>{% endif %}
            <p>Mod: {{ server.mod.title }}</p>
            {% with server_info=server.info %}
                <p>Gametype: <span data-info="gametype">{% if server_info %}{{ server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></p>
                <p>Map: <span data-info="map">{% if server_info %}{{ server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% endif %}</span></p>
                <p data-info="slots">Slots: <span data-info="slots">{% if server_info %}{{ server_info.clients|length }}/{{ server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></p>
                <p>Password: <span data-info="password">{% if server_info %}{% if server_info.password %}Yes{% else %}No{% endif %}{% else %}{% if server|get_option:'password' %}Yes{% else %}No{% endif %}{% endif %}</span></p>
                {% if server.is_online %}<p>Address: {{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</p>{% endif %}
                <p><a href="{% url server_detail server.id %}">Info</a></p>
                <div class="hide_mouseover">
                    <div class="mouseover_overlay">
                        {% include "scoreboard.html" %}
                    </div>
                </div>
            {% endwith %}
        {% if server.is_online %}</div>{% endif %}
    </div>
</div>

{% empty %}

{% if username %}
    {% if server_type %}
        <p>None of {{ username|possessive }} servers is {{ server_type }}.</p>
    {% else %}
        <p>{{ username }} doesn't have any servers.</p>
    {% endif %}
{% else %}
    <p>There are no servers{% if server_type %} {{ server_type }}{% endif %}.</p>
{% endif %}

{% endfor %}

{% endblock content %}
