{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Details{% endblock title %}

{% block tab_content %}

<div>
    {% if server.is_online %}<div class="server_status_update" serverid="{{ server.id }}">{% endif %}
        <p>Servername: {{ server|get_option:'sv_name' }}</p>
        <p>Mod: {{ server.mod.title }}</p>
        {% with server_info=server.info %}
            <p>Gametype: <span info="gametype">{% if server_info %}{{ server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></p>
            <p>Map: <span info="map">{% if server_info %}{{ server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% endif %}</span></p>
            <p info="slots">Slots: <span info="slots">{% if server_info %}{{ server_info.clients|length }}/{{ server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></p>
            {% include "scoreboard.html" %}
        {% endwith %}
    {% if server.is_online %}</div>{% endif %}

    {% if user.is_authenticated %}{% if user == server.owner or user.is_staff %}

    <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
        {% csrf_token %}
        <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
    </form>

    {% endif %}{% endif %}
</div>

{% endblock tab_content %}
