{% extends "base.html" %}

{% comment %}
context variables:
    server
    server_details
{% endcomment %}

{% block content %}

<div class="head">
    <h2>Server mod: {{ server.mod.title }} ({% if server.is_online %}started{% else %}stopped{% endif %})</h2>
</div>
<div class="body">
    {% if user == server.owner %}
        <p><a href="{% url upload_map user.username server.mod.title %}">Upload Map</a> <a href="{% url server_edit user.username server.mod.title %}">Edit settings</a></p>
    {% endif %}

    <p>Servername: {{ server_details.name }}</p>
    <p>Gametype: {{ server_details.gametype }}</p>

    {% if user.is_authenticated %}{% if user == server.owner or user.is_staff %}

    <p>Server control:</p>
    <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
        {% csrf_token %}
        <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
    </form>

    {% endif %}{% endif %}
</div>

{% endblock content %}
