{% extends "base.html" %}

{% comment %}
context variables:
    server
    options
{% endcomment %}

{% block content %}


<h2>Server mod: <a href"{% url server_detail user.username server.mod.title %}">{{ server.mod.title }}</a> ({% if server.is_online %}started{% else %}stopped{% endif %})</h2>

<form action="{% url update_settings server.id %}" method="post">
    {% csrf_token %}
    <p>Options:</p>
    <table class="form_table">
        <tbody>
            {% for option in options %}
            <tr>
                <td><label for="{{ option.command }}">{{ option.command }}</td>
                <td></label><input type="text" name="{{ option.command }}" value="{{ option.value }}" id="{{ option.command }}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><input class="button" type="submit" value="Update settings" /></p>
</form>

{% endblock content %}
