{% extends "base.html" %}

{% comment %}
context variables:
    server_list
{% endcomment %}

{% block title %}upTee - Server list{% endblock title %}

{% block content %}

{% for server in server_list %}
<div>
    <h2>Server mod: <a href="{% url server_detail server.id %}">{{ server.mod.title }}</a> ({% if server.is_online %}started{% else %}stopped{% endif %}) from <a href="{% url user_server_list server.owner.username %}">{{ server.owner.username }}</a></h2>
</div>

{% if user.is_authenticated %}{% if user.is_staff or server.owner == user %}

<div>
    <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
        {% csrf_token %}
        <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
    </form>
</div>
{% endif %}{% endif %}

{% endfor %}

{% endblock content %}
