{% extends "mod/server_detail_base.html" %}

{% comment %}
context variables:
    server
    server_details
{% endcomment %}

{% block tab_content %}

<div>
    <p>Servername: {{ server_details.name }}</p>
    <p>Gametype: {{ server_details.gametype }}</p>
    <p>Map: Map</p>
    <p>Slots: Slots</p>
    <p>Mod: Mod </p>
    {% if user.is_authenticated %}{% if user == server.owner or user.is_staff %}

    <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
        {% csrf_token %}
        <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
    </form>

    {% endif %}{% endif %}
</div>

{% endblock tab_content %}
