{% extends "base.html" %}

{% load le %}

{% comment %}
context variables:
    server
    options
{% endcomment %}

{% block content %}


<h2>Server mod: <a href"{% url server_detail user.username server.mod.title %}">{{ server.mod.title }}</a> ({% if server.is_online %}started{% else %}stopped{% endif %})</h2>

<form action="{% url update_settings server.id %}" method="post">
    {% csrf_token %}
    <p>Options:</p>
    <table class="form_table">
        <tbody>
            {% for option in options %}
            <tr>
                <th><label for="{{ option.command }}">{{ option.command }}</label></th>
                {% if option.get_widget_display == 'textarea' %}
                    <td><textarea name="{{ option.command }}" id="{{ option.command }}"/>{{ option.value|le }}</textarea></td>
                {% else %}
                    <td><input type="{{ option.get_widget_display }}" name="{{ option.command }}" value="{{ option.value }}" id="{{ option.command }}"/></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><input class="button" type="submit" value="Update settings" /></p>
</form>

{% endblock content %}
