{% extends "base.html" %}

{% comment %}
context variables:
    server_list
{% endcomment %}

{% block content %}

{% for server in server_list %}
<div class="head">
    <h2>Server mod: <a href="{% url server_detail server.owner.username server.mod.title %}">{{ server.mod.title }}</a> ({% if server.is_online %}started{% else %}stopped{% endif %}) from {{ server.owner.username }}</h2>
</div>

{% if user.is_authenticated %}{% if user.is_staff or server.owner == user %}

<div class="body">
    <form method="post" action="{% url start_stop_server server.id %}?next={{ request.path }}">
        {% csrf_token %}
        <p><input class="button" type="submit" value="{% if server.is_online %}Stop{% else %}Start{% endif %} Server" /></p>
    </form>
</div>

{% endif %}{% endif %}
{% endfor %}

{% endblock content %}
