{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    moderator
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Console{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Console' 'server_console' server.id %}
{% endblock %}

{% block content %}

<div class="contentBox gray w750">
        <div class="contentHeadline gray">Terminal</div>
        <div class="content">
            <div id="terminal" data-serverid="{{ server.id }}">
                <div id="terminalEntry" class="scroll_pane">
                    <!--<p>output will be here</p>-->
                </div>
                <div id="terminalEnter">
                    <div><p>&gt;</p></div>
                    <div><input type="text" id="terminalCommandInput" value=""></div>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
