{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    votes
    moderator
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Edit votes{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Edit Votes' 'server_edit_votes' server.id %}
{% endblock %}

{% block content %}


<div class="content_box w600">
    <div class="content_headline">Edit Votes</div>
    <div class="content">
        <form action="{% url 'update_votes' server.id %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
            <table class="form_table">
                <tbody>
                    {% for vote in votes %}
                    <tr>
                        <th><input type="text" name="title {{ vote.title }} {{ vote.id }}" value="{{ vote.title }}" id="id-{{ vote.title }}-{{ vote.id }}"></th>
                        <td><input type="text" name="command {{ vote.command }} {{ vote.id }}" value="{{ vote.command }}" id="id-{{ vote.command }}-{{ vote.id }}"></td>
                        <td><div class="delete_vote"></div></td> <!-- here a button will be included by js if js is supported "<div class="del_button"></div>" -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="add_vote"></div> <!-- here a button will be included by js if js is supported "<p><button type="button">Add vote</button></p>" -->
            <br \>
            <p><input class="button" type="submit" value="Update votes"></p>
        </form>
    </div>
</div>

{% endblock content %}
