{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    form
    moderator
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Upload map{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Upload Map' 'upload_map' server.id %}
{% endblock %}

{% block content %}

<div class="contentBox">
        <div class="contentHeadline"><i class="icon-upload-alt"></i> Upload Map</div>
        <div class="content">
            <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                {{ form.as_p }}
                <br \>
                <p><input class="button" type="submit" value="Upload"></p>
            </form>
        </div>
</div>

{% endblock content %}
