{% extends "base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    description_form
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Edit description{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb server.server_name 'server_detail' server.id %}
    {% add_crumb 'Edit description' 'server_edit_description' server.id %}
{% endblock %}

{% block content %}

    <div class="contentBox">
        <div class="contentHeadline">Edit description</div>
        <div class="content">
            <form method="post" action="{{ request.path }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                <p>
                    <textarea cols="40" id="id_description" name="description" rows="10" placeholder="Description...">{{ description_form.description.value }}</textarea>
                </p>  
                <p><span class="helptext">You may use markdown</span></p>
                <br>
                <input class="button" type="submit" value="Update">
            </form>
        </div>
    </div>

{% endblock content %}
