{% extends "mod/server_detail_base.html" %}

{% load get_option %}
{% load split %}

{% comment %}
context variables:
    server
    moderator
{% endcomment %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/calendar.css" type="text/css">
{% endblock extra_head %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Details{% endblock title %}

{% block content %}

<div id="tabContainer">
  <ul class="etabs">
    <li class="tab right"><a href="#info">Info</a></li>
    <li class="tab"><a href="#description">Description</a></li>
    <li class="tab"><a href="#maps">Maps</a></li>
    <li class="tab"><a href="#events">Events</a></li>
    <li class="tab left"><a href="#status">Status</a></li>
  </ul>
  

   
  




  <div id="info" class="tabContent">
    <div class="contentBox">
        <div class="contentHeadline colorPink"><i class="fa fa-info-circle fa-border"></i> Server Info</div>
        <div class="content">
            {% if server.is_online %}<div class="serverStatusUpdate" data-serverid="{{ server.id }}">{% endif %}
            <table class="bordered w400">
                <tbody>
                    <tr>
                        <td class="bold">Owner:</td>
                        <td><a href="{% url 'user' server.owner.id %}">{% if server.owner == request.user %}You{% else %}{{ server.owner.username }}{% endif %}</a></td>
                    </tr>
                    <tr>
                        <td class="bold">Mod:</td>
                        <td>{{ server.mod.title }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Gametype:</td>
                        <td><span data-info="gametype">{% if server.server_info %}{{ server.server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></td>
                    </tr>
                    <tr>
                        <td class="bold">Map:</td>
                        <td><span data-info="map">{% if server.server_info %}{{ server.server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% if not server.map_exists %} (<span class="config_error">does not exist!</span>){% endif %}{% endif %}</span></td>
                    </tr>
                    <tr>
                        <td class="bold">Slots:</td>
                        <td><span data-info="slots">{% if server.server_info %}{{ server.server_info.clients|length }}/{{ server.server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></td>
                    </tr>
                    <tr>
                        <td class="bold">Password:</td>
                        <td><span data-info="password">{% if server.server_info %}{% if server.server_info.password %}Yes{% else %}No{% endif %}{% else %}{% if server|get_option:'password' %}Yes{% else %}No{% endif %}{% endif %}</span></td>
                    </tr>
                    {% if server.is_online %}
                    <tr>
                        <td class="bold">Address:</td>
                        <td>{{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="bold">Config:</td>
                        <td><a href="{% url 'config_download' server.id %}">Download</a></td>
                    </tr>
                </tbody>
            </table>
            {% if server.is_online %}</div>{% endif %}
        </div>
    </div>
  </div>

  <div id="description" class="tabContent">
    <div class="contentBox">
        <div class="contentHeadline"><i class="fa fa-pencil fa-border"></i> Description{% if user.is_authenticated and user == server.owner %}<a class="edit_link" href="{% url 'server_edit_description' server.id %}">edit</a>{% endif %}<div class="clear"></div></div>
        <div class="content">
            
                {% if server.description_html %}
                    <div class="markdown">
                        {{ server.description_html|safe }}
                    </div>
                {% else %}
                    No description available.
                {% endif %}
            
        </div>
    </div>
  </div>

  <div id="maps" class="tabContent">
   {% comment %} {% include "scoreboard.html" %} {% endcomment %}
    <div class="contentBox">
        <div class="contentHeadline"><i class="fa fa-picture-o"></i> Maps</div>
        <div class="content">
            {% if server.maps.all %}
            <div class="server_detail_maplist">
                <table class="small w400">
                    <tbody>
                    {% for map in server.maps.all %}
                    <tr>
                        <td><a href="{% url 'map_details' map.id %}">{{ map.name }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
  </div>


 <div id="events" class="tabContent">
        <div class="contentBox minimal">
        <div class="contentHeadline"><i class="fa fa-calendar"></i> Events</div>
        <div class="content">
            <div id="calendarContainer" data-serverid="{{ server.id }}">
                <div class="calendarHead">
                    <div class="arrowLeft"></div>
                    <div class="arrowRight"></div>
                    <div class="preLoader"></div>
                    <div class="month"></div>
                    <div class="year"></div>
                    {% if user.is_authenticated and user == server.owner %}
                    <div class="addEventButton">Add Event</div>
                    {% endif %}
                </div>

                <div class="calendarBody">
                    <div class="calendarBodyHeader">
                        <div class="weekday">MON</div>
                        <div class="weekday">TUE</div>
                        <div class="weekday">WED</div>
                        <div class="weekday">THU</div>
                        <div class="weekday">FRI</div>
                        <div class="weekday">SAT</div>
                        <div class="weekday sun">SUN</div>
                    </div>
                    <div class="calendarDayListContainer">
                        <div class="calendarDayLists">
                            <div class="calendarDayListItem"></div> <!-- js will include the days here -->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="eventsDay"{% if user.is_authenticated and user == server.owner %} data-admin="1"{% endif %}>
                    <!-- events -->  
                </div>
                <div class="placeholder"></div>
                <div class="eventsUpcoming" data-admin="1">
                    <!-- events -->
                </div>
                <div class="addEvent"></div>
            </div>
        </div>
    </div>
  </div>




  <div id="status" class="tabContent">
    <div class="contentBox w400">
    <div class="contentHeadline">
        <i class="fa fa-info-circle"></i>  Your server is currently {% if server.is_online %}ONLINE!{% else %}OFFLINE!{% endif %}
        <div class="serverstatus {% if server.is_online %}on{% else %}off{% endif %}"></div>
    </div>
        {% if user.is_authenticated and server.map_exists %}{% if user == server.owner or user.is_staff or moderator and moderator.restart_allowed %}
        <div class="content">
            <form class="only_button" method="post" action="{% url 'start_stop_server' server.id %}?next={{ request.path }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                <div class="centerbox">
                    {% if server.is_online %}
                    <input class="statusButton big red" type="submit" value="Stop">
                    {% else %}
                    <input class="statusButton big green" type="submit" value="Start">
                    {% endif %}
                </div>
            </form>
        </div>
        {% endif %}{% endif %}
    </div>
  </div>

</div>















{% endblock content %}
