{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    votes
    moderator
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Votes{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Votes' 'server_votes' server.id %}
{% endblock %}

{% block content %}

<table class="votelist">
    <tbody>
        {% for vote in votes %}
        <tr>
            <th>{{ vote.title }}</th>
            <td>{{ vote.command }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
