{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    moderator
{% endcomment %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}simpleflat/css/scoreboard.css" type="text/css">
{% endblock extra_head %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Scoreboard{% endblock title %}

{% block content %}

<!-- CTF, TDM, SUR Scorebaord -->
<div id="scoreboardContainer">
	<div class="tableContainer left">
		<table class="redTeam">
		   <tr>
		    <th class="headline">Red Team</th>
		    <th class="headline"></th>
		    <th class="headline textRight">500</th>
		  </tr>
		  <tr>
		    <th class="score">Score</td>
		    <th>Name</th>
		    <th>Clan</th>
		  </tr>
		  <tr>
		    <td class="score">25</td>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		  <tr>
		    <td class="score">25</td>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		</table>
	</div>

	<div class="tableContainer right">
		<table class="blueTeam">
		  <tr>
		    <th class="headline">Blue Team</th>
		    <th class="headline"></th>
		    <th class="headline textRight">500</th>
		  </tr>
		  <tr>
		    <th class="score">Score</td>
		    <th>Name</th>
		    <th>Clan</th>
		  </tr>
		  <tr>
		    <td class="score">25</td>
		    <td>text 2</td>
		    <td>text 3</td>
		  </tr>
		  <tr>
		    <td class="score">25</td>
		    <td>text 2</td>
		    <td>text 3</td>
		  </tr>
		</table>
	</div>
	<div class="clear"></div>

	<div class="tableContainer marginAuto marginTop">
		<table class="spec">
		   <tr>
		    <th class="headline">Spectator</th>
		    <th class="headline"></th>
		  </tr>
		  <tr>
		    <th>Name</th>
		    <th>Clan</th>
		  </tr>
		  <tr>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		  <tr>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		</table>
	</div>

	<div class="clear"></div>
</div>
<!-- END CTF, TDM, SUR Scorebaord -->

<!-- DM, LMS Scorebaord -->
<div id="scoreboardContainer">
	<div class="tableContainer">
		<table class="dm">
		   <tr>
		    <th class="headline">Scorebaord</th>
		    <th class="headline"></th>
		    <th class="headline"></th>
		  </tr>
		  <tr>
		  	<th class="score">Score</th>
		    <th>Name</th>
		    <th>Clan</th>
		  </tr>
		  <tr>
		  	<td class="score">25</td>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		  <tr>
		    <td class="score">25</td>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		</table>
	</div>

	<div class="tableContainer marginTop">
		<table class="spec">
		   <tr>
		    <th class="headline">Spectator</th>
		    <th class="headline"></th>
		  </tr>
		  <tr>
		    <th>Name</th>
		    <th>Clan</th>
		  </tr>
		  <tr>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		  <tr>
		    <td>Fisico</td>
		    <td>Dayvi</td>
		  </tr>
		</table>
	</div>

	<div class="clear"></div>
</div>
<!-- END DM, LMS Scorebaord -->

{% endblock content %}
