{% extends "mod/server_detail_base.html" %}

{% load get_option %}

{% comment %}
context variables:
    server
    form
{% endcomment %}

{% block title %}upTee - {{ server|get_option:'sv_name' }} - Change mod{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Change Mod' 'server_change_mod' server.id %}
{% endblock %}

{% block content %}

<div class="contentBox">
        <div class="contentHeadline"><i class="fa fa-pencil"></i>  Cange Mod</div>
        <div class="content">
            <p><strong>If you change the mod of your server all settings will be resetted to the mod default. You may have to check your moderators permissions.</strong></p>
            <br>
            <form class="smallform" action="{{ request.path }}" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                {{ form.as_table }}
                <p><input class="button" type="submit" value="Change mod"></p>
            </form>

        </div>
</div>

{% endblock content %}
