{% extends "base.html" %}


{% block body %}

<div id="login_messages">
    {% include "messages.html" %}
</div>

<div id="login_container">

    <div class="content_box w450">
        <div class="content_headline ">Login</div>
        <div class="content">
            <form action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                
                <div class="description_box">
                    <label for="username">Username:</label>
                </div>

                <div class="form_box">
                    <input class="icon_user" type="text" name="username" value="" id="username" required="" /> <!-- If Error = class="error" -->
                </div>

                <div class="description_box">
                    <label for="password">Password:</label>
                </div>

                <div class="form_box">
                    <input class="icon_pw" type="password" name="password" value="" id="password" required="" />
                </div>
                <div class="clear"></div>


                <div class="submit_box">
                    <input class="button positive" type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
