{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block content %}

{% if form.errors %}
    <p class="error">The combination of username and password is wrong or your account is not activated yet.</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <p>
        <label for="username">Username:</label><input type="text" name="username" value="" id="username" pattern="[\w.@+-]{3,30}" title="30 characters or fewer. Letters, numbers and @/./+/-/_ characters" required="" />
        <label for="password">Password:</label><input type="password" name="password" value="" id="password" pattern=".{8,}" title="8 characters are required" required="" />
        <input class="button" type="submit" value="Login" /><input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>

{% endblock content %}
