{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block content %}

<div class="head">
    <h2>User registration</h2>
</div>
<div class="body">
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <table class="form_table">
            <tbody>
                {{ form.as_table }}
                <tr>
                   <td></td>
                   <th><input id="id_captcha_1" type="text" name="captcha_1" required="None"></input></th>
                </tr>
                <tr>
                    <th> <input class="button" type="submit" value="Submit"/></th>
                </tr>
            </tbody>
        </table>
        
       
    </form>
</div>

{% endblock %}
