{% extends "base.html" %}

{% comment %}
context variables:
    captcha
    register_form
{% endcomment %}

{% block title %}upTee - Register{% endblock title %}

{% block content %}

<div class="head">
    <h2>User registration</h2>
</div>
<div class="body">
    <form method="post" action="{{ request.path }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        <table class="form_table">
            <tbody>
                {% for field in register_form %}
                    {% for error in field.errors %}
                    <tr class="errorlist">
                        <th>Error</th>
                        <td>{{ error }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>{{ field.label_tag }}</th>
                    {% if not forloop.last %}
                        <td>{{ field }}</td>
                    {% else %}
                        <td><img class="captcha" alt="captcha" src="{% url captcha-image captcha %}"><input id="id_captcha_0" type="hidden" value="{{ captcha }}" name="captcha_0"></td>
                    {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <td><input id="id_captcha_1" type="text" name="captcha_1" required="None"></td>
                </tr>
                <tr>
                    <th><input class="button" type="submit" value="Submit"/></th>
                </tr>
            </tbody>
        </table>
        
       
    </form>
</div>

{% endblock %}
