{% extends "base.html" %}

{% comment %}
context variables:
    form
{% endcomment %}

{% block title %}upTee - Settings{% endblock title %}

{% block content %}

<div class="head">
    <h2>User settings</h2>
</div>
<div class="body">
    <form method="post" action="{{ request.path }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
        <table class="form_table">
            <tbody>
                {{ form.as_table }}
                <tr>
                    <th><input class="button" type="submit" value="Submit"></th>
                </tr>
            </tbody>
        </table>
    </form>
    <p><a class="button" href="{% url change_password %}">Change password</a></p>
</div>
{% if messages %}
    <div class="foot">
        <div class="left">
            <h3>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </h3>
        </div>
    </div>
{% endif %}

{% endblock %}
