# pylint: disable-all
"""
settings_local.py

Change site-specific settings here.
"""

from settings_default import *

"""
There's a list of settings that you will probably override.
Uncomment the lines to override the global settings.
"""

"""
DEBUG

Turns Django into development mode.

Default: False
"""
#DEBUG = False

"""
TEMPLATE_DEBUG

Additional debug data for templates.

Default: DEBUG
"""
#TEMPLATE_DEBUG = DEBUG

"""
TIME_ZONE

Sets the used time zone.

Default: 'America/Chicago'
"""
#TIME_ZONE = 'America/Chicago'

"""
LANGUAGE_CODE

Sets the language code.

Default: 'en-us'
"""
#LANGUAGE_CODE = 'en-us'

"""
ADMINS

A list of chaps maintaining the app.

Default: ()
"""
#ADMINS = (
# ('Your Name', 'your_email@example.com'),
#)

"""
EMAIL_HOST

Smtp host for mails.
"""
#EMAIL_HOST = 'smtp.example.com'

"""
EMAIL_PORT

The port for smtp host.
"""
#EMAIL_PORT = 25

"""
EMAIL_HOST_USER

The user name used to authenticate with the smtp host.
"""
#EMAIL_HOST_USER = 'joe'

"""
EMAIL_HOST_PASSWORD

The password used to authenticate with the smtp host.
"""
#EMAIL_HOST_PASSWORD = 'password'

"""
EMAIL_USE_TLS

Controles if TLS should be used.
"""
#EMAIL_USE_TLS = False

"""
SERVER_EMAIL

The default address mails are sent from.
"""
#SERVER_EMAIL = 'uptee@example.com'

"""
EMAIL_SUBJECT_PREFIX

Prefix for mails sent to admins or managers.
If not set '[Django]: ' will be used.
"""
#EMAIL_SUBJECT_PREFIX = '[upTee]: '

"""
DATABASES

Overrides the default database settings.

Default: SQLite database
"""
#DATABASES = {
# 'default': {
# # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3'.
# 'ENGINE': 'django.db.backends.sqlite3',
# # Or path to database file if using sqlite3.
# 'NAME': PROJECT_DIR + '/database.db',
# # Not used with sqlite3.
# 'USER': '',
# # Not used with sqlite3.
# 'PASSWORD': '',
# # Set to empty string for localhost. Not used with sqlite3.
# 'HOST': '',
# # Set to empty string for default. Not used with sqlite3.
# 'PORT': '',
# }
#}

"""
MIDDLEWARE_CLASSES

You might want to add some debug stuff here.
"""
#MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
#    'johnny.middleware.LocalStoreClearMiddleware', # requires johnny-cache
#    'johnny.middleware.QueryCacheMiddleware',      # requires johnny-cache
#)
#JOHNNY_MIDDLEWARE_KEY_PREFIX='jc_uptee'            # requires johnny-cache, is only needed if johnny-cache is used

"""
CACHES

Controles if a cache should be used and which.
"""
#CACHES = {
#    'default': dict(
#        BACKEND='johnny.backends.memcached.MemcachedCache',  # requires johnny-cache and memcache
#        LOCATION=['127.0.0.1:11211'],
#        JOHNNY_CACHE=True,
#    )
#}

"""
TEMPLATE_CACHING

Activates template caching.
"""
#TEMPLATE_CACHING = True

"""
TEMPLATE_LOADERS

Overrides the default template loaders.
Uncomment the following if TEMPLATE_CACHING is True.
"""
#if TEMPLATE_CACHING:
#    TEMPLATE_LOADERS = (
#        ('django.template.loaders.cached.Loader', TEMPLATE_LOADERS),
#    )

"""
AVAILABLE_TEMPLATES

Available templates. ('directory_name', 'template_name')
"""
#AVAILABLE_TEMPLATES = AVAILABLE_TEMPLATES + (
#    ('yourtemplate', 'YourTemplate'),  # add your templates here
#)

"""
DEFAULT_TEMPLATE

Default: 'simpleblue'
"""
#DEFAULT_TEMPLATE = 'simpleblue'

"""
INSTALLED_APPS

You might want to add some of your own apps.
"""
#INSTALLED_APPS = INSTALLED_APPS + (
#    # add your extra apps here
#)

"""
SERVER_EXEC

The teeworlds server executable.
"""
#SERVER_EXEC = 'teeworlds_srv_d'

"""
Debug stuff

Uncomment the following for stuff which is for debugging only.
"""
#if DEBUG:

    """
    MIDDLEWARE_CLASSES

    You might want to add some debug middleware.
    """
    #MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
    #    'debug_toolbar.middleware.DebugToolbarMiddleware', # for debug toolbar
    #)

    """
    INSTALLED_APPS

    You might want to add some debug stuff here.
    """
    #INSTALLED_APPS = INSTALLED_APPS + (
    #    'debug_toolbar',   # for debug toolbar
    #)

    """
    DEBUG_TOOLBAR_PANELS

    This is a debug toolbar with some nice features.
    """
    #DEBUG_TOOLBAR_PANELS = (
    #    'debug_toolbar.panels.version.VersionDebugPanel',
    #    'debug_toolbar.panels.timer.TimerDebugPanel',
    #    'debug_toolbar.panels.settings_vars.SettingsVarsDebugPanel',
    #    'debug_toolbar.panels.headers.HeaderDebugPanel',
    #    'debug_toolbar.panels.request_vars.RequestVarsDebugPanel',
    #    'debug_toolbar.panels.template.TemplateDebugPanel',
    #    'debug_toolbar.panels.sql.SQLDebugPanel',
    #    'debug_toolbar.panels.signals.SignalDebugPanel',
    #    'debug_toolbar.panels.logger.LoggingPanel',
    #)

    """
    DEBUG_TOOLBAR_CONFIG

    Uncomment this if you want to use the debug toolbar.
    """
    #DEBUG_TOOLBAR_CONFIG = {
    #    'INTERCEPT_REDIRECTS': False,
    #    'SHOW_TOOLBAR_CALLBACK': lambda x: True,
    #}

    """
    INTERNAL_IPS

    The internal IP's are required by the debug toolbar.
    """
    #INTERNAL_IPS = ('127.0.0.1')
