<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}upTee{% endblock title %}</title>

        <meta name="description" content="">
        <meta name="author" content="Fisico">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_URL }}simpleblue/img/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}simpleblue/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleblue/css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleblue/css/forms.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}simpleblue/css/sprites.css" type="text/css">

        <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cookie.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.eventCalendar.js"></script>
        <script src="{{ STATIC_URL }}simpleblue/js/uptee.js"></script>
        {% block extra_head %}{% endblock extra_head %}
        {% if settings.ANALYTICS_ID %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ settings.ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>
    <body>
        {% load revision %}{% load split %}{% load get_option %}

        <div id="wrapper">
            {% if user.is_authenticated %}
            <div id="user_bar">
                <div class="user_bar_entry settings"><a href="{% url 'settings' %}">Settings</a></div>
                <div class="user_bar_entry"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></div>
                <div class="user_bar_entry">You are logged in as <a href="{% url 'user' user.id %}">{{ user.username }}</a>!</div>
                <div class="clear"></div>
            </div>
            {% endif %}
            
            {% if not request.browser or not request.browser.is_mobile %}
                <div id="ribbon"></div>
            {% endif %}
            
            <div id="header_box"> 
                <a href="{% url 'home' %}"><div data-image="header"></div></a>
            </div>

            <div id="menu_box"> 
                <a href="{% url 'server_list' %}"><div class="menu_entry">All servers</div></a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user_server_list' request.user.username %}"><div class="menu_entry">Own servers</div></a>
                {% endif %}
                <a href="{% url 'users' %}"><div class="menu_entry">Users</div></a>
            </div>
            <div class="clear"></div>

            {% block link_list %}{% endblock link_list %}

            <noscript>
                <div class="notification info">
                    Please activate JavaScript to see the website correctly
                </div>
            </noscript>

            {% if request.browser and request.browser.version > 0.0 %}
                {% if request.browser.name == 'Firefox' and request.browser.version < 4.0 or request.browser.name == 'Chrome' and request.browser.version < 10.0 or request.browser.name == 'Opera' and request.browser.version < 10.0 or request.browser.name == 'Safari' and request.browser.version < 5.0 or request.browser.name == 'IE' and request.browser.version < 9.0 %}
                    <div class="notification info">
                        Your Browser just sux!
                    </div>
                {% endif %}
            {% endif %}

            {% for message in messages %}
                <div class="notification {{ message.tags }}">
                    {{ message }}
                    <div class="notification_close"></div>
                </div>
            {% endfor %}

            <div id="content_box"> 
                {% block content %}{% endblock %} 
            </div>

            <div id="sidebar_box"> 
                {% if not user.is_authenticated %}
                <div class="sidebar_entry">
                    <div class="signup_box">
                        <h3>Login:</h3>
                        <form action="{% url 'login' %}" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}">
                            <p><label for="username">Username:</label></p><p><input type="text" name="username" value="" id="username" pattern="[\w.@+-]{3,30}" title="30 characters or fewer. Letters, numbers and @/./+/-/_ characters" required=""></p>
                            <p><label for="password">Password:</label></p><p><input type="password" name="password" value="" id="password" pattern=".{8,}" title="8 characters are required" required=""></p>
                            <p><input class="button" type="submit" value="Login"><input type="hidden" name="next" value="{{ request.path }}"></p>
                        </form>
                    </div>
                </div>
                    
                <div class="sidebar_entry">
                    <div class="register_box">
                        <p><a href="{% url 'password_recover' %}">Forgot password?</a></p>
                        <p><a href="{% url 'username_recover' %}">Forgot username?</a></p>
                        <br>
                        <p><a href="{% url 'register' %}"><h3>Register</h3></a></p>
                    </div>
                </div>
                {% endif %}

                {% if user.is_authenticated %}
                {% for server in user_server_list %}
                <div class="sidebar_entry">
                    <div class="server_status">
                        <div class="server_status_headline {% if server.is_online %}on{% else %}off{% endif %}">{{ server|get_option:'sv_name' }}</div>
                        <div class="server_status_info">
                            {% if server.is_online %}<div class="server_status_update" data-serverid="{{ server.id }}">{% endif %}
                                <p>Mod: {{ server.mod.title }}</p>
                                <p>Gametype: <span data-info="gametype">{% if server.server_info %}{{ server.server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></p>
                                <p>Map: <span data-info="map">{% if server.server_info %}{{ server.server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% endif %}</span></p>
                                <p data-info="slots">Slots: <span data-info="slots">{% if server.server_info %}{{ server.server_info.clients|length }}/{{ server.server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></p>
                                <p>Password: <span data-info="password">{% if server.server_info %}{% if server.server_info.password %}Yes{% else %}No{% endif %}{% else %}{% if server|get_option:'password' %}Yes{% else %}No{% endif %}{% endif %}</span></p>
                                {% if server.is_online %}<p>Address: {{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</p>{% endif %}
                                <p><a href="{% url 'server_detail' server.id %}">Info/Edit</a></p>
                                <div class="hide_mouseover">
                                    <div class="mouseover_overlay">
                                        {% include "scoreboard.html" %}
                                    </div>
                                </div>
                            {% if server.is_online %}</div>{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for server in user_moderated_servers %}
                <div class="sidebar_entry">
                    <div class="server_status">
                        <div class="server_status_headline {% if server.is_online %}on{% else %}off{% endif %}">{{ server|get_option:'sv_name' }}</div>
                        <div class="server_status_info">
                            {% if server.is_online %}<div class="server_status_update" data-serverid="{{ server.id }}">{% endif %}
                                <p>Owner: {{ server.owner.username }}</p>
                                <p>Mod: {{ server.mod.title }}</p>
                                <p>Gametype: <span data-info="gametype">{% if server.server_info %}{{ server.server_info.gametype }}{% else %}{{ server|get_option:'sv_gametype' }}{% endif %}</span></p>
                                <p>Map: <span data-info="map">{% if server.server_info %}{{ server.server_info.map }}{% else %}{{ server|get_option:'sv_map' }}{% endif %}</span></p>
                                <p data-info="slots">Slots: <span data-info="slots">{% if server.server_info %}{{ server.server_info.clients|length }}/{{ server.server_info.max_clients }}{% else %}{{ server|get_option:'sv_max_clients' }}{% endif %}</span></p>
                                <p>Password: <span data-info="password">{% if server.server_info %}{% if server.server_info.password %}Yes{% else %}No{% endif %}{% else %}{% if server|get_option:'password' %}Yes{% else %}No{% endif %}{% endif %}</span></p>
                                {% if server.is_online %}<p>Address: {{ request.META.HTTP_HOST|split:':'|first }}:{{ server.port }}</p>{% endif %}
                                <p><a href="{% url 'server_detail' server.id %}">Info/Edit</a></p>
                                <div class="hide_mouseover">
                                    <div class="mouseover_overlay">
                                        {% include "scoreboard.html" %}
                                    </div>
                                </div>
                            {% if server.is_online %}</div>{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if not user_server_list and not user_moderated_servers %}
                <div class="sidebar_entry">
                    <p>You don't have any servers. Please contact an admin.</p>
                </div>
                {% endif %}
                {% endif %}        
            </div>

            <div class="clear"></div>

            <div id="footer_box"> 
                <div id="footer_left"><a href="{% url 'about' %}">About</a> | <a href="{% url 'contact' %}">Contact</a></div>
                <div id="footer_center">&copy; 2012-2013 Sascha W. &amp; David G.<br> Version: Alpha{% if user.is_staff %}<br>{% revision %}{% endif %}</div>
                <div id="footer_right">
                    <div class="cycle">
                        <div class="teeworlds"><a href="http://teeworlds.com"><div data-sprite="teeworlds" title="Teeworlds"></div></a></div>
                        <div class="django"><a href="https://www.djangoproject.com/"><div data-sprite="django" title="django"></div></a></div>
                        <div class="python"><a href="http://www.python.org/"><div data-sprite="python" title="Python"></div></a></div>
                        <div class="nginx"><a href="http://nginx.org/"><div data-sprite="nginx" title="nginx"></div></a></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
