/* general input fields */

input[type=text] {
    background: #dcdcdc;
    width: 200px;
    padding: 5px;
    border: solid 1px #969696;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

    input[type=text]:focus {
        width: 200px;
        background-color: #fff;
        border: solid 1px #009bff;
    }

.tabmenu_content p input[type=text] {
    margin-left: 16px;
}

input[type=password] {
    background: #dcdcdc;
    width: 200px;
    padding: 5px;
    border: solid 1px #969696;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

    input[type=password]:focus {
        background-color: #fff;
        width: 200px;
        border: solid 1px #009bff;
    }

input[type=email] {
    background: #dcdcdc;
    width: 200px;
    padding: 5px;
    border: solid 1px #969696;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

    input[type=email]:focus {
        background-color: #fff;
        width: 200px;
        border: solid 1px #009bff;
    }

button[type=button], input[type=submit] {
    background: url('../img/buttons.png') repeat-x;
    background-position: 0 0;
    margin: 10px;
    padding: 6px;
    border: 1px solid #acacac;
    cursor: pointer;
}

    button[type=button]:hover, input[type=submit]:hover {
        background-position: 0 -30px;
        border: 1px solid #7eb4ea;
    }

    button[type=button]:active, input[type=submit]:active {
        background-position: 0 -60px;
        border: 1px solid #569de5;
    }

button[type=button].button, input[type=submit].button {
    margin: 10px 0 0; /* buttons with class button don't have margin */
}

.server_list_headline form {
    position: absolute;
        right: 0;
        top: 3px;
}

    .server_list_headline form input[type="submit"] {
        margin: -1px 2px;
        padding: 2px;
    }

input[type=checkbox] {
    display: none;
}

input[type=checkbox]
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 15px;
    width: 15px;
    display: inline-block;
}

    input[type=checkbox]
        + label.checkbox:hover {
            background: url('../img/checkbox.png') no-repeat;
            background-position:0 -15px;
            height: 15px;
            width: 15px;
        }


input[type=checkbox]:checked
+ label.checkbox {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -30px;
    height: 15px;
    width: 15px;
}

    input[type=checkbox]:checked
    + label.checkbox:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -45px;
        height: 15px;
        width: 15px;
    }


input[type=radio] {
    display: none;
}

input[type=radio]
+ label.radio {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 0;
    height: 15px;
    width: 15px;
    display: inline-block;
}

    input[type=radio]
        + label.radio:hover {
            background: url('../img/checkbox.png') no-repeat;
            background-position:0 -15px;
            height: 15px;
            width: 15px;
        }


input[type=radio]:checked
+ label.radio {
    background: url('../img/checkbox.png') no-repeat;
    background-position:0 -60px;
    height: 15px;
    width: 15px;
}

    input[type=radio]:checked
    + label.radio:hover {
        background: url('../img/checkbox.png') no-repeat;
        background-position:0 -75px;
        height: 15px;
        width: 15px;
    }   
 

textarea {
    background: #dcdcdc;
    width: 325px;
    max-width: 530px;
    height: 105px;
    padding: 5px;
    border: solid 1px #969696;
    -webkit-transition: background-color .5s, border .5s;
    -ms-transition: background-color .5s, border .5s;
    transition: background-color .5s, border .5s;
}

    textarea:focus {
        background-color: #fff;
        border: solid 1px #009bff;
    }


select {
    background: #dcdcdc;
    width: 212px;
    padding: 5px;
    border: solid 1px #969696;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

    select:focus {
        background-color: #fff;
        width: 212px;
        border: solid 1px #009bff;
    }

/* start/stop button in server info */

form.only_button {
    position: absolute;
        bottom: 10px;
}

/* login box */

.signup_box input[type=text] {
    background: #dcdcdc url('../img/person.png') no-repeat 5px center;
    width: 30px;
    padding: 5px 10px 5px 30px;

}

    .signup_box input[type=text]:focus {
        background: #fff url('../img/person.png') no-repeat 5px center;
        width: 100px;
    }

.signup_box input[type=password] {
    background: #dcdcdc url('../img/lock.png') no-repeat 5px center;
    width: 30px;
    padding: 5px 10px 5px 30px;
}

    .signup_box input[type=password]:focus {
        background: #fff url('../img/lock.png') no-repeat 5px center;
        width: 100px;
    }

.signup_box input[type=submit] {
    margin-top: 20px;
}

/* from table */

.form_table { 
    border-collapse: separate;
    border-spacing: 0 20px;
}

    .form_table td {
        padding-left: 20px;
        text-align: left;
    }

    .form_table th {
        text-align: right;
    }

    .form_table tr  {
        margin-top: 10px;
        text-align: right;
    }
