/* ---global--- */
* {
    margin: 0;
    padding: 0;
    outline: 0 none;
}

.clear {
    clear: both;
}

a:visited, a:link {
    color: #808080;
}

body {
    background: url('../img/noise.png');
    background-color: #EEEEEE;
    font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
    font-size: 12px;
} 
/* ---END global--- */

/* ---others--- */
/* ---END others--- */

/* ---ribbon--- */

#ribbon {
    background: url('../img/ribbon_alpha.png') no-repeat;
    height: 105px;
    width: 107px;
    position: absolute;
        right: 0;
        top: 0;
}
/* ---END ribbon--- */

/* ---wrapper--- */
#wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
/* ---END wrapper--- */

/* ---userlist--- */
table.userlist {
    border-collapse: collapse;
    width: 100%;
}

.userlist tr {
    border-bottom: thin solid #009BFF;
}

.userlist th, .userlist td {
    text-align: center;
    padding: 5px 0;
}

.userlist th:first-child, .userlist td:first-child {
    text-align: left;
    padding: 5px 0;
    width: 60%
}
/* ---END userlist--- */

/* ---votelist--- */
table.votelist {
    border-collapse: collapse;
    width: 100%;
}

.votelist tr {
    border-bottom: thin solid #009BFF;
}

.votelist th, .votelist td {
    text-align: left;
    padding: 5px 0;
    width: 60%
}
/* ---END votelist--- */

/* ---tablelist--- */
table.tablelist {
    border-collapse: collapse;
    margin-top: 10px;
    width: 40%;
}

.tablelist tr {
    border-bottom: thin solid #009BFF;
}

.tablelist th, .tablelist td {
    text-align: left;
    padding: 5px 0;
}
/* ---END tablelist--- */

/* ---avatar--- */
img.avatar {
    position: absolute;
    right: 10px;
    top: 10px;
}

img.gravatar {
    margin: -3px 5px -6px 3px;
}
/* ---END avatar--- */

/* ---userbar--- */
#user_bar {
    background: url('../img/menu_pattern.png');
    padding: 3px;
    border: 1px solid rgb(199, 199, 199);
    border-top: none;
    box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
}

.user_bar_entry {
    padding-left: 20px;
    padding-right: 10px;
    float: right;
    font-size: 12px;   
}

    .user_bar_entry.settings {
        background: url('../img/gear.png') no-repeat 18px 3px;
        padding-left: 33px;
    }
/* ---END userbar--- */


/* ---header--- */
#header_box {
    margin-top: 20px;
}

    #header_box div[data-image=header] {
        background: url('../img/logo_75.png');
        width: 345px;
        height: 75px;
    }
/* ---END header--- */


/* ---menu--- */
#menu_box {
    background: url('../img/menu_pattern.png');
    height: 35px;
    margin-top: 20px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
}

.menu_entry {
    width: 100px;
    height: 16px;
    padding: 10px;
    float: left;
    border-right: 1px solid #009bff;
    text-align: center;
}

.menu_entry:hover {
    background: url('../img/menu_pattern_hover.png');
}
/* ---END menu--- */


/* ---notification--- */
.notification {
    width: 745px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px 10px 35px;
    border: 1px solid;
    box-shadow:  2px 2px 10px 0 rgba(150, 150, 150, 255);
    border-radius: 5px;
}

    .notification.info {
        background: url('../img/info.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 0;
        color: #034e96;
    }

    .notification.success {
        background: url('../img/sucess.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -40px;
        color: #4f8a14;
    }

    .notification.warning {
        background: url('../img/warning.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -80px;
        color: #a06011;
    }

    .notification.error {
        background: url('../img/error.png') no-repeat 10px center, url('../img/notification_bars.png') repeat-x 0 -120px;
        color: #d4000b;
    }

.notification_close {
   background: url('../img/close_icon.png') no-repeat center;
   height: 15px;
   width: 15px;
   float: right;
   opacity: 0.5;
}

    .notification_close:hover {
        opacity: 1.0;
        cursor: pointer;
    }
/* ---END notification--- */


/* ---config error--- */
.config_error {
    color: orangered;
    font-weight: bold;
}
/* ---END config error--- */


/* ---siedbar--- */
#sidebar_box {
    width: 200px;
    float: right;
}

.sidebar_entry {
    background: rgb(244, 244, 244);
    width: 178px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
}
/* ---END sidebar--- */


/* ---content--- */
#content_box {
    background: rgb(244, 244, 244);
    width: 750px;
    margin-top: 20px;
    padding: 10px;
    float: left;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
    position: relative;
}

.errorlist {
    background: #ffeaeb;
    margin: 5px 1px;
    padding: 4px 4px 4px 23px;
    outline: solid 1px #cc7576; 
    color: #cc7576;
}

.smallform ul.errorlist {
    width: 40%;
}
/* ---END content--- */


/* ---About Page--- */
#about h2{
    margin: 2px;
    color: #009bff;
    border-bottom: 1px solid #009bff;
}

#about p{
    margin: 5px;
    margin-bottom: 15px;
}

#about table{
    border-collapse: collapse;
    margin: 5px;
}

#about th{
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
}

#about td{
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    border-top: 1px solid #009bff;
}

#about ul{
    margin-left: 30px;
}
/* ---END About Page--- */


/* ---server status sidebar entry--- */
.server_status_headline {
    width: 168px;
    height: auto;
    min-height: 25px;
    margin-top: -10px;
    margin-left: -10px;
    padding-top: 3px;
    padding-left: 30px;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: bold; 
}

    .server_status_headline.on {
        background: url('../img/green_status.png') no-repeat 10px 7px, url('../img/serverstatus_on.png') repeat-x;
    }

    .server_status_headline.off {
        background: url('../img/red_status.png') no-repeat 10px 7px, url('../img/serverstatus_off.png') repeat-x;
    }

.server_status_info {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 10px;
    color: gray;
}

.server_list_entry {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #009bff;
}

    .server_list_headline {
        height: 25px;
        padding-top: 3px;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
    
        .server_list_headline.on {
            background: url('../img/green_status.png') no-repeat 10px 5px, url('../img/serverstatus_on.png') repeat-x;
        }
        
        .server_list_headline.off {
            background: url('../img/red_status.png') no-repeat 10px 5px, url('../img/serverstatus_off.png') repeat-x;
        }

    .server_list_content {
        padding: 5px;
        color: gray;
        text-align: center;
    }
/* ---END server status sidebar entry--- */


/* ---server detail page--- */
.server_detail_headline {
    color: black;
}

    .server_detail_headline.on {
        background: url('../img/green_status.png') no-repeat 0 5px;
    }

    .server_detail_headline.off {
        background: url('../img/red_status.png') no-repeat 0 5px;
    }

    .server_detail_headline h2 {
        margin: 2px;
        padding-left: 17px;
        display: inline;
        color: #009bff;
    }

.server_detail_info {
    width: 243px;
    margin-bottom: 40px;
    float: left;
    text-align: center;
}

    .server_detail_info h2 {
        margin: 2px;
        padding: 5px;
        color: gray;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
    }

    .server_detail_info table {
        margin: 0 auto;
    }

.server_detail_scoreboard {
    width: 243px;
    max-height: 170px;
    float: right;
    overflow: auto;
}

    .server_detail_scoreboard table {
        width: 243px;
        float: right;
        text-align: center;
    }
    
    .server_detail_scoreboard th {
        padding: 5px;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
        color: gray;
    }

    .server_detail_scoreboard td {
        padding: 2px;
    }

.server_detail_maplist {
    width: 242px;
    float: right;
    text-align: center;
}

    .server_detail_maplist h2 {
        margin: 2px;
        padding: 5px;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
        color: gray;
    }

    .server_detail_maplist .maplist_data {
        max-height: 137px;
        overflow: auto;
    }

.server_detail_description {
    margin-bottom: 40px;
    position: relative;
}

    .server_detail_description h2 {
        margin: 2px;
        padding: 5px;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
        color: gray;
        text-align: center;
    }

.server_detail_description_edit h2 {
        margin: 2px;
        padding: 5px;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
        color: gray;
        text-align: center;
    }

a.edit_link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.server_detail_edit_moderator {
    position: relative;
}

    .server_detail_edit_moderator h2 {
        margin: 2px;
        padding: 5px;
        border-bottom: 1px solid #009bff;
        font-size: 16px;
        color: gray;
        text-align: center;
    }
/* ---END server detail page--- */


/* ---blog--- */
.blog_entry {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.blog_entry div.headline h2 {
    border-bottom: 1px solid #009BFF;
    color: gray;
    font-size: 16px;
    margin: 2px;
    padding: 5px;
}

.blog_entry div.user {
    float: left;
    width: 42px;
    padding: 10px;
}

.blog_entry div.entry {
    padding: 10px;
    display: inline-block;
}

.blog_entry div.footer {
    border-top: 1px solid #009BFF;
    color: gray;
}

.blog_entry div.right {
    float: right;
    padding: 5px;
}

.blog_entry div.left {
    float: left;
    padding: 5px;
}
/* ---END blog--- */


/* ---class to hide a block--- */
.hide_mouseover {
    position: fixed;
    display: none;
    z-index: 5;
}
/* ---END class to hide a block--- */


/* ---mouse over overlay--- */
.mouseover_overlay {
    background: rgb(244, 244, 244);
    margin-top: 20px;
    display: inline-block;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset; 
}

    .mouseover_overlay .server_detail_scoreboard {
        width: auto; /* override default width for the overlay */
        max-height: none; /* override default max-height for the overlay */
    }
/* ---END mouse over overlay--- */


/* ---content tabmenu--- */
#tabmenu_box {
    margin-top: 10px;
}

.tab {
    background: #b3b3b3;
    margin-right: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #009bff;
    border-bottom: 0;
    color: #000;
}

    .tab:hover {
       background: #009bff;
       border-bottom: 0;
    }

    .tab.current {
       background: #009bff;
       border: 1px solid #009bff;
       border-bottom: 0;
       color: #fff;
    }

.tabmenu_content {
    padding: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid #009bff;
    width: 728px;
}
/* ---END content tabmenu--- */


/* ---vote delete button--- */
.delete_vote div.del_button {
    background: url('../img/close_icon.png') no-repeat center;
    height: 15px;
    width: 15px;
    float: right;
    opacity: 0.5;
}

    .delete_vote div.del_button:hover {
        opacity: 1.0;
        cursor: pointer;
    }

.delete_command div.del_button {
    background: url('../img/close_icon.png') no-repeat center;
    height: 15px;
    width: 15px;
    float: right;
    opacity: 0.5;
}

    .delete_command div.del_button:hover {
        opacity: 1.0;
        cursor: pointer;
    }
/* ---END vote delete button--- */


/* ---link list--- */
#link_list {
    margin: 10px 20px 5px;
}
/* ---END link list--- */


/* ---footer--- */
#footer_box {
    background: url('../img/footer.png') no-repeat;
    margin-top: 20px;
    padding: 5px;
    border-top: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 0 #ffffff inset;
    color: #808080;
    font-size: 11px;
}

#footer_left {
    width: 330px;
    min-height: 10px;
    float: left;
}

#footer_center {
    width: 330px;
    min-height: 10px;
    float: left;
    text-align:center;
}

#footer_right {
    width: 330px;
    min-height: 10px;
    float: left;
    text-align:right;
}
/* ---END footer--- */


/* ---footer cycle--- */
.cycle {
    float: right;
}

div .cycle .django {
    float: right;
    left: 30px !important; /* to override generated inline */
}

div .cycle .python {
    float: right;
    left: 20px !important; /* to override generated inline */
}

div .cycle .nginx {
    float: right;
}

div .cycle .teeworlds {
    float: right;
}
/* ---END footer cycle--- */
